/* screen - tabletdevicepluginintegratedswitch */

.tabletdevicepluginintegratedswitch {
  background-color: var(--white);
  height: 1959px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginintegratedswitch .group-5-copy-KDx8xO {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .group-2-copy-xoKSsT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-JTBvBO {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-0wamxd {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginintegratedswitch .table-guide-text2line_m-JTBvBO {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginintegratedswitch .group-2-xoKSsT {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-uBBsEk {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-gG4BYv {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginintegratedswitch .table-guide-text2line_m-uBBsEk {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginintegratedswitch .descriptiontabletop-xoKSsT {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .group-KDx8xO {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginintegratedswitch .group-copy-KDx8xO {
  background-color: transparent;
  height: 549px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletdevicepluginintegratedswitch .web-sub_-title-KDx8xO {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdevicepluginintegratedswitch .web-title-area-KDx8xO {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginintegratedswitch .web-tabc2-c_-common-KDx8xO {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginintegratedswitch .x3rd-depth-AxNVpM {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginintegratedswitch .tab-AxNVpM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginintegratedswitch .intergrated-switch-MGfkcv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 115px;
}

.tabletdevicepluginintegratedswitch .lnb-service-feature-KDx8xO {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginintegratedswitch .rectangle-PCENBz {
  background-color: var(--concrete);
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginintegratedswitch .line-PCENBz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginintegratedswitch .home-net-gui-guidelin-PCENBz {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup16 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup16 .web-index-title-reference-copy-2-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .group-vtTndc {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-title-reference-copy-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .group-copy-vtTndc {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-title-reference-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .group-copy-2-vtTndc {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-title-reference-copy-3-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-3-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-2-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-4-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-16-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-15-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-14-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-13-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-12-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-11-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-10-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-18-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-17-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-19-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-9-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-5-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-6-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletdevicepluginintegratedswitch .webgnb-KDx8xO {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginintegratedswitch .rectangle-obsV6Y {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginintegratedswitch .background-obsV6Y {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginintegratedswitch .index-obsV6Y {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginintegratedswitch .web-index-select-CFCGmx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginintegratedswitch .web-index-unselect-CFCGmx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginintegratedswitch .web-index-unelect_main-obsV6Y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginintegratedswitch .logo-n7Poxt {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginintegratedswitch .group-5-KDx8xO {
  background-color: transparent;
  height: 298px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .group-2-5ry4bK {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-4c8f8Z {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-92fwmj {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginintegratedswitch .table-guide-text2line_m-4c8f8Z {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginintegratedswitch .group-2-copy-5ry4bK {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-juKi12 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-1lSZ3L {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginintegratedswitch .table-guide-text2line_m-juKi12 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginintegratedswitch .group-2-copy-2-5ry4bK {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-99rmEH {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-WArR7j {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginintegratedswitch .table-guide-text2line_m-99rmEH {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginintegratedswitch .group-2-copy-2-AjDzxI {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 239px;
  width: 680px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-AwxZ4c {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginintegratedswitch .table-guide-text1line-8mUDN4 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginintegratedswitch .table-guide-text2line_m-AwxZ4c {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginintegratedswitch .descriptiontabletop-5ry4bK {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}
