/* screen - tabletdeviceplugingasvalve */

.tabletdeviceplugingasvalve {
  background-color: var(--white);
  height: 1945px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugingasvalve .group-5-copy-ZHIXtb {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-2-copy-QMM0C8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-IZhvy0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-V28CxM {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-IZhvy0 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-2-QMM0C8 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-SI0Ci2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-E9mIvU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-SI0Ci2 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .descriptiontabletop-QMM0C8 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-ZHIXtb {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletdeviceplugingasvalve .group-copy-ZHIXtb {
  background-color: transparent;
  height: 507px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletdeviceplugingasvalve .web-sub_-title-ZHIXtb {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .web-title-area-ZHIXtb {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .web-tabc2-c_-common-ZHIXtb {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .x3rd-depth-U6J7B2 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .tab-U6J7B2 {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdeviceplugingasvalve .status-type-9FknRS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 71px;
}

.tabletdeviceplugingasvalve .lnb-service-feature-ZHIXtb {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .rectangle-NoB4hZ {
  background-color: var(--concrete);
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .line-NoB4hZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugingasvalve .home-net-gui-guidelin-NoB4hZ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup6 .web-index-title-reference-copy-2-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-zm0cTg {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-title-reference-copy-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-copy-zm0cTg {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-title-reference-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-copy-2-zm0cTg {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-title-reference-copy-3-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-3-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-2-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-4-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-16-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-15-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-14-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-13-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-12-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-11-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-10-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-18-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-17-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-19-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-9-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-5-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-6-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletdeviceplugingasvalve .webgnb-ZHIXtb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .rectangle-QI5Wv6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .background-QI5Wv6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .index-QI5Wv6 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdeviceplugingasvalve .web-index-select-QyzZwD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugingasvalve .web-index-unselect-QyzZwD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdeviceplugingasvalve .web-index-unelect_main-QI5Wv6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .logo-BLrMko {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-5-ZHIXtb {
  background-color: transparent;
  height: 296px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-2-xEJ0pj {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-IM0wjU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-8qlxfS {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-IM0wjU {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-2-copy-xEJ0pj {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-VDExBx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-zYxCvT {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-VDExBx {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-2-copy-2-xEJ0pj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-M1WfqS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-1XnKyA {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-M1WfqS {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-2-copy-2-xudVkG {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-2mQ2Cp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-woxicx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-2mQ2Cp {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .descriptiontabletop-xEJ0pj {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}
