/* screen - tabletdevicepluginactivityhistory */

.tabletdevicepluginactivityhistory {
  background-color: var(--white);
  height: 2019px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginactivityhistory .group-5-QfiXYH {
  background-color: transparent;
  height: 249px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .group-2-sDLMJx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-uZIbmf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-JNMZQn {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-uZIbmf {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .group-2-copy-sDLMJx {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-X8LH8F {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-CLwNWF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-X8LH8F {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .group-2-copy-2-sDLMJx {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-EV5xsS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-nJPcMm {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-EV5xsS {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .descriptiontabletop-sDLMJx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .group-QfiXYH {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginactivityhistory .group-3-QfiXYH {
  background-color: transparent;
  height: 581px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletdevicepluginactivityhistory .group-5-Cd5jUu {
  background-color: transparent;
  height: 249px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .group-2-HBTsBp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-vKYVJl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-oUppSY {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-vKYVJl {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .group-2-copy-HBTsBp {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-51AcQI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-iRadsB {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-51AcQI {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .group-2-copy-2-HBTsBp {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-q0Wl35 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-wcgyRF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-q0Wl35 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .descriptiontabletop-HBTsBp {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .web-sub_-title-QfiXYH {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdevicepluginactivityhistory .web-title-area-QfiXYH {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginactivityhistory .web-tabc2-c_-common-QfiXYH {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginactivityhistory .x3rd-depth-CamofG {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginactivityhistory .tab-CamofG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginactivityhistory .keyscreen-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 64px;
}

.tabletdevicepluginactivityhistory .time-routine_-power-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 158px;
}

.tabletdevicepluginactivityhistory .time-routine_-timer-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 137px;
}

.tabletdevicepluginactivityhistory .activity-history-copy-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.tabletdevicepluginactivityhistory .edit-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 25px;
}

.tabletdevicepluginactivityhistory .lnb-service-feature-QfiXYH {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginactivityhistory .rectangle-YbmPE9 {
  background-color: var(--concrete);
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginactivityhistory .line-YbmPE9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginactivityhistory .home-net-gui-guidelin-YbmPE9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup4 .web-index-title-reference-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-RfN8gY {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-copy-RfN8gY {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-copy-2-RfN8gY {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-4-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-16-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-15-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-14-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-13-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-12-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-11-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-10-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-18-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-17-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-19-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-9-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-5-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-6-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletdevicepluginactivityhistory .webgnb-QfiXYH {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginactivityhistory .rectangle-R2cIVK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginactivityhistory .background-R2cIVK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginactivityhistory .index-R2cIVK {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginactivityhistory .web-index-select-EoHu8o {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginactivityhistory .web-index-unselect-EoHu8o {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginactivityhistory .web-index-unelect_main-R2cIVK {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .logo-tbTYEp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
