/* screen - tabletdevicepluginsmartlock */

.tabletdevicepluginsmartlock {
  background-color: var(--white);
  height: 1959px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginsmartlock .group-5-K4Wend {
  background-color: transparent;
  height: 298px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginsmartlock .group-2-MxvOKd {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-xSXBlb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-5IY68V {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-xSXBlb {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginsmartlock .group-2-copy-MxvOKd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-80exHa {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-nuErZz {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-80exHa {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginsmartlock .group-2-copy-2-MxvOKd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 680px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-xCaDO6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-8uL9Cx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-xCaDO6 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginsmartlock .group-2-copy-2-cLLztS {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 239px;
  width: 680px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-359jg0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-Ndxyeo {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-359jg0 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginsmartlock .descriptiontabletop-MxvOKd {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginsmartlock .group-5-copy-K4Wend {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletdevicepluginsmartlock .group-2-copy-tC7Bh0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-BjRH4N {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-VyG3Dr {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-BjRH4N {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginsmartlock .group-2-tC7Bh0 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-8xygdN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-KRxS3a {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-8xygdN {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginsmartlock .descriptiontabletop-tC7Bh0 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginsmartlock .group-K4Wend {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginsmartlock .group-copy-K4Wend {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletdevicepluginsmartlock .web-sub_-title-K4Wend {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .web-title-area-K4Wend {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .web-tabc2-c_-common-K4Wend {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .x3rd-depth-9YKVFm {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .tab-9YKVFm {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginsmartlock .smart-lock-8gRRqw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 67px;
}

.tabletdevicepluginsmartlock .lnb-service-feature-K4Wend {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartlock .rectangle-DOZsf2 {
  background-color: var(--concrete);
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartlock .line-DOZsf2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginsmartlock .home-net-gui-guidelin-DOZsf2 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup18 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup18 .web-index-title-reference-copy-2-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-DB1bXV {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-title-reference-copy-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-copy-DB1bXV {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-title-reference-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-copy-2-DB1bXV {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-title-reference-copy-3-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-3-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-2-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-4-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-16-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-15-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-14-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-13-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-12-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-11-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-10-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-18-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-17-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-19-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-9-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-5-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-6-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletdevicepluginsmartlock .webgnb-K4Wend {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .rectangle-1eaZeC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .background-1eaZeC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .index-1eaZeC {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginsmartlock .web-index-select-PLa8YV {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginsmartlock .web-index-unselect-PLa8YV {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginsmartlock .web-index-unelect_main-1eaZeC {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginsmartlock .logo-P9KMke {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
