/* screen - c2cconnectedstrongmancard */

.c2cconnectedstrongmancard {
  background-color: var(--white);
  height: 2189px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2cconnectedstrongmancard .group-3-copy-2-NZd2UG {
  background-color: transparent;
  height: 190px;
  left: 1140px;
  position: absolute;
  top: 1799px;
  width: 680px;
}

.c2cconnectedstrongmancard .group-4-NZd2UG {
  background-color: transparent;
  height: 417px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2cconnectedstrongmancard .group-14-NZd2UG {
  background-color: transparent;
  height: 417px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 690px;
}

.c2cconnectedstrongmancard .group-10-copy-NZd2UG {
  background-color: transparent;
  height: 442px;
  left: 1140px;
  position: absolute;
  top: 1257px;
  width: 680px;
}

.c2cconnectedstrongmancard .group-13-AiwsAx {
  background-color: transparent;
  height: 442px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.c2cconnectedstrongmancard .group-6-jSpYoI {
  top: 84px;
}

.c2cconnectedstrongmancard .group-5-jSpYoI {
  top: 131px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-3-q2T7qU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-4-q2T7qU {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-5-q2T7qU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstrongmancard .group-3-jSpYoI {
  height: 64px;
  top: 178px;
}

.c2cconnectedstrongmancard .group-8-jSpYoI {
  top: 383px;
}

.c2cconnectedstrongmancard .group-7-jSpYoI {
  top: 252px;
}

.c2cconnectedstrongmancard .table-guide-title-copy-2-jSpYoI {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 680px;
}

.c2cconnectedstrongmancard .strong-man-gui-copy-jSpYoI {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 232px;
}

.c2cconnectedstrongmancard .group-10-NZd2UG {
  background-color: transparent;
  height: 503px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2cconnectedstrongmancard .group-6-J8TxiW {
  top: 56px;
}

.c2cconnectedstrongmancard .table-guide-text1line-XIeiz9 {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .table-guide-text1line_mint-XIeiz9 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .table-guide-text1line-xGTMxf {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .group-5-J8TxiW {
  top: 103px;
}

.c2cconnectedstrongmancard .table-guide-text1line-jx8AJv {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .table-guide-text1line-jjmaBD {
  cursor: pointer;
  left: 60px;
  width: 340px;
}

.c2cconnectedstrongmancard .table-guide-text1line-xJxoZv {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .group-3-J8TxiW {
  height: 84px;
  top: 150px;
}

.c2cconnectedstrongmancard .table-guide-text1line-8VeHyW {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .table-guide-text1line-SR6Z1u {
  left: 60px;
  width: 340px;
}

.c2cconnectedstrongmancard .table-guide-text2line-8VeHyW {
  background-color: transparent;
  height: 84px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstrongmancard .group-8-J8TxiW {
  top: 375px;
}

.c2cconnectedstrongmancard .table-guide-text1line-5xeaE8 {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .table-guide-text1line-D4rxXB {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .group-7-J8TxiW {
  top: 244px;
}

.c2cconnectedstrongmancard .table-guide-text1line-PWeZOa {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .table-guide-text2line_m-PWeZOa {
  background-color: transparent;
  height: 121px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .table-guide-text1line-dZxPI8 {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .group-9-J8TxiW {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 444px;
  width: 680px;
}

.c2cconnectedstrongmancard .table-guide-text1line-E5HQH3 {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .table-guide-text1line-XCsP7c {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .table-guide-title-J8TxiW {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2cconnectedstrongmancard .strong-man-gui-NZd2UG {
  background-color: transparent;
  height: 18px;
  left: 1140px;
  position: absolute;
  top: 314px;
  width: 232px;
}

.c2cconnectedstrongmancard .group-3-copy-NZd2UG {
  background-color: transparent;
  height: 190px;
  left: 1140px;
  position: absolute;
  top: 945px;
  width: 680px;
}

.c2cconnectedstrongmancard .web-sub_-title-NZd2UG {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2cconnectedstrongmancard .web-title-area-NZd2UG {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2cconnectedstrongmancard .web-tabc2-c_apart-servide-connected-NZd2UG {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2cconnectedstrongmancard .x3rd-depth-nQPHTG {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2cconnectedstrongmancard .tab-nQPHTG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2cconnectedstrongmancard .overview-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 58px;
}

.c2cconnectedstrongmancard .onboarding_start-pag-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.c2cconnectedstrongmancard .onboarding_-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 188px;
}

.c2cconnectedstrongmancard .onboarding_-welcome-p-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.c2cconnectedstrongmancard .onboarding_-strongman-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 181px;
}

.c2cconnectedstrongmancard .lnb-service-feature-NZd2UG {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cconnectedstrongmancard .rectangle-ISxqFq {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.c2cconnectedstrongmancard .line-ISxqFq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2cconnectedstrongmancard .home-net-gui-guidelin-ISxqFq {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup20 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup20 .web-index-title-reference-copy-2-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-5NjPHy {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .empty-Ynl6JK {
  bottom: 0px;
}

.stackedgroup20 .empty-9e4rDm {
  top: 0px;
}

.stackedgroup20 .web-index-title-reference-copy-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-copy-5NjPHy {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .empty-95YSuY {
  bottom: 0px;
}

.stackedgroup20 .empty-YCdKLi {
  top: 0px;
}

.stackedgroup20 .web-index-title-reference-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents1dpeth_close-copy-2-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents1dpeth_open_selected-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-copy-2-5NjPHy {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .empty-aq6tkn {
  bottom: 0px;
}

.stackedgroup20 .empty-wHLi0O {
  top: 0px;
}

.stackedgroup20 .web-index-title-reference-copy-3-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2cconnectedstrongmancard .webgnb-NZd2UG {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstrongmancard .rectangle-FzLInB {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2cconnectedstrongmancard .background-FzLInB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstrongmancard .index-FzLInB {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2cconnectedstrongmancard .web-index-select-Dtj8ME {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2cconnectedstrongmancard .web-index-unselect-Dtj8ME {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2cconnectedstrongmancard .web-index-unelect_main-FzLInB {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2cconnectedstrongmancard .logo-x2iIC7 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.c2cconnectedstrongmancard .group-3 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .group-5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .group-6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .group-7 {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .group-8 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .table-guide-text1line {
  background-color: transparent;
  height: 37px;
  position: absolute;
  top: 0px;
}

.c2cconnectedstrongmancard .table-guide-text2line_-strongman {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
