/* screen - c2cmain */

.c2cmain {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2cmain .cover-GCkQx7 {
  background-color: transparent;
  height: 764px;
  left: 417px;
  position: absolute;
  top: 112px;
  width: 949px;
}

.c2cmain .lnb-service-feature-GCkQx7 {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cmain .rectangle-JNLu03 {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.c2cmain .line-JNLu03 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2cmain .home-net-gui-guidelin-JNLu03 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup11 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup11 .web-index-title-reference-copy-2-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-PPoNq0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .empty-seND9W {
  bottom: 0px;
}

.stackedgroup11 .empty-s9sCZQ {
  top: 0px;
}

.stackedgroup11 .web-index-title-reference-copy-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-copy-PPoNq0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .empty-vDZMAx {
  bottom: 0px;
}

.stackedgroup11 .empty-gQ4nmR {
  top: 0px;
}

.stackedgroup11 .web-index-title-reference-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .web-index-contents1dpeth_close-copy-2-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .web-index-contents1dpeth_open_selected-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-copy-2-PPoNq0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .empty-j0iB4y {
  bottom: 0px;
}

.stackedgroup11 .empty-eKRy3J {
  top: 0px;
}

.stackedgroup11 .web-index-title-reference-copy-3-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2cmain .webgnb-GCkQx7 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cmain .rectangle-ob99dn {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2cmain .background-ob99dn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cmain .index-ob99dn {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2cmain .web-index-select-p1RjAJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2cmain .web-index-unselect-p1RjAJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2cmain .web-index-unelect_main-ob99dn {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2cmain .logo-4NWoN6 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
