/* screen - coreapplifetabservicefeaturequicklink */

.coreapplifetabservicefeaturequicklink {
  background-color: var(--white);
  height: 3391px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-4-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-PEu42x {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-PEu42x {
  height: 79px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-5QVyQM {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-WwJFjq {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-WwJFjq {
  cursor: pointer;
  height: 57px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-YYGxLR {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-5-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1010px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-fxGudU {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-fxGudU {
  height: 79px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-ahv24A {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-G1Kjmt {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-G1Kjmt {
  cursor: pointer;
  height: 57px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-xzWPPe {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-6-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1624px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-MOhjfl {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-MOhjfl {
  height: 79px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-t9qc1n {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-noK1LS {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-noK1LS {
  cursor: pointer;
  height: 57px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-R8MB9T {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-2-k0Y1MD {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 698px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-3-k0Y1MD {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 1312px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-4-k0Y1MD {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 1926px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-7-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2265px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-XuxVcy {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-XuxVcy {
  height: 79px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-AY9wqv {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-kAMQ0J {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-kAMQ0J {
  cursor: pointer;
  height: 57px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-SIJyWW {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .group-12-k0Y1MD {
  background-color: transparent;
  height: 464px;
  left: 380px;
  position: absolute;
  top: 396px;
  width: 710px;
}

.coreapplifetabservicefeaturequicklink .group-13-k0Y1MD {
  background-color: transparent;
  height: 464px;
  left: 365px;
  position: absolute;
  top: 1010px;
  width: 725px;
}

.coreapplifetabservicefeaturequicklink .group-14-k0Y1MD {
  background-color: transparent;
  height: 491px;
  left: 365px;
  position: absolute;
  top: 1624px;
  width: 725px;
}

.coreapplifetabservicefeaturequicklink .group-15-k0Y1MD {
  background-color: transparent;
  height: 926px;
  left: 380px;
  position: absolute;
  top: 2265px;
  width: 710px;
}

.coreapplifetabservicefeaturequicklink .web-sub_-title-k0Y1MD {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .web-title-area-k0Y1MD {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .web-tabc2-c_re_popup-k0Y1MD {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .rectangle-KAEJHY {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .x3rd-depth-KAEJHY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .layout-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicefeaturequicklink .life-tab-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicefeaturequicklink .service-card-health-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicefeaturequicklink .basic-_-title-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicefeaturequicklink .basic-_-page-indicat-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicefeaturequicklink .basic-_-bg-copy-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicefeaturequicklink .basic-_-primary-colo-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicefeaturequicklink .x3rd-depth-copy-KAEJHY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .basic-type-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-copy-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-_-se-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 266px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-_-ic-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicefeaturequicklink .banner-type-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicefeaturequicklink .broken-token-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicefeaturequicklink .lnb-service-feature-k0Y1MD {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicefeaturequicklink .rectangle-jBrQvE {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.coreapplifetabservicefeaturequicklink .line-jBrQvE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicefeaturequicklink .home-net-gui-guidelin-jBrQvE {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup21 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup21 .web-index-title-reference-copy-2-ibgyaL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup21 .group-ibgyaL {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup21 .empty-nD5UIm {
  bottom: 0px;
}

.stackedgroup21 .empty-GjtevS {
  top: 0px;
}

.stackedgroup21 .web-index-title-reference-copy-ibgyaL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup21 .group-copy-ibgyaL {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup21 .empty-2S0zjK {
  bottom: 0px;
}

.stackedgroup21 .empty-B8Ufwd {
  top: 0px;
}

.stackedgroup21 .web-index-title-reference-ibgyaL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup21 .web-index-contents1dpeth_close-copy-2-ibgyaL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup21 .web-index-contents1dpeth_open_selected-ibgyaL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup21 .group-copy-2-ibgyaL {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup21 .empty-UuxoE2 {
  bottom: 0px;
}

.stackedgroup21 .empty-icfRLc {
  top: 0px;
}

.stackedgroup21 .web-index-title-reference-copy-3-ibgyaL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicefeaturequicklink .webgnb-k0Y1MD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .rectangle-ablmNW {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .background-ablmNW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .index-ablmNW {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicefeaturequicklink .web-index-select-0uOhDy {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicefeaturequicklink .web-index-unselect-0uOhDy {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicefeaturequicklink .web-index-unelect_main-ablmNW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreapplifetabservicefeaturequicklink .logo-0cZVUX {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-3 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line {
  background-color: transparent;
  height: 37px;
  position: absolute;
  top: 0px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}
