/* screen - coreapplifetablayout */

.coreapplifetablayout {
  background-color: var(--white);
  height: 1884px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetablayout .group-6-6ilEUz {
  background-color: transparent;
  height: 1346px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetablayout .web-title-area-6ilEUz {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetablayout .web-tabc2-c_re_popup-6ilEUz {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetablayout .rectangle-UVUJQP {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetablayout .x3rd-depth-UVUJQP {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetablayout .layout-1PUiP6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 43px;
}

.coreapplifetablayout .life-tab-1PUiP6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetablayout .service-card-health-1PUiP6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetablayout .basic-_-title-1PUiP6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetablayout .basic-_-page-indicat-1PUiP6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetablayout .basic-_-bg-copy-1PUiP6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetablayout .basic-_-primary-colo-1PUiP6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetablayout .x3rd-depth-copy-UVUJQP {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetablayout .basic-type-GhVGUc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetablayout .quick-link-type-copy-GhVGUc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetablayout .quick-link-type-_-se-GhVGUc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetablayout .quick-link-type-_-ic-GhVGUc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetablayout .banner-type-GhVGUc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetablayout .broken-token-GhVGUc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetablayout .lnb-service-feature-6ilEUz {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetablayout .rectangle-ZQxOYA {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.coreapplifetablayout .line-ZQxOYA {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetablayout .home-net-gui-guidelin-ZQxOYA {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup41 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup41 .web-index-title-reference-copy-2-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .group-KYDZvq {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .empty-ayBnw8 {
  bottom: 0px;
}

.stackedgroup41 .empty-lVsEMB {
  top: 0px;
}

.stackedgroup41 .web-index-title-reference-copy-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .group-copy-KYDZvq {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .empty-kwacQ2 {
  bottom: 0px;
}

.stackedgroup41 .empty-inNpZN {
  top: 0px;
}

.stackedgroup41 .web-index-title-reference-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .web-index-contents1dpeth_close-copy-2-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .web-index-contents1dpeth_open_selected-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .group-copy-2-KYDZvq {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .empty-iGDQO5 {
  bottom: 0px;
}

.stackedgroup41 .empty-i4yZaV {
  top: 0px;
}

.stackedgroup41 .web-index-title-reference-copy-3-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetablayout .webgnb-6ilEUz {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetablayout .rectangle-Y99xoI {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetablayout .background-Y99xoI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetablayout .index-Y99xoI {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetablayout .web-index-select-q2bimz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetablayout .web-index-unselect-q2bimz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetablayout .web-index-unelect_main-Y99xoI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreapplifetablayout .logo-vW17N0 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
