/* screen - coreapplifetabservicecardbannertype */

.coreapplifetabservicecardbannertype {
  background-color: var(--white);
  height: 1773px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .group-6-BlCaid {
  background-color: transparent;
  height: 474px;
  left: 365px;
  position: absolute;
  top: 990px;
  width: 725px;
}

.coreapplifetabservicecardbannertype .group-4-BlCaid {
  background-color: transparent;
  height: 480px;
  left: 380px;
  position: absolute;
  top: 396px;
  width: 710px;
}

.coreapplifetabservicecardbannertype .group-5-BlCaid {
  background-color: transparent;
  height: 390px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-xENxS8 {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-xENxS8 {
  height: 37px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-iSgOLx {
  height: 84px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-qUJNBI {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-qUJNBI {
  cursor: pointer;
  height: 37px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-Nj2RjY {
  height: 37px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-ZctZL4 {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-ZctZL4 {
  cursor: pointer;
  height: 57px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-8buGGV {
  height: 37px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-Mpp72L {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-Mpp72L {
  height: 59px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-0uCKE3 {
  height: 37px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-PZX9Pq {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-PZX9Pq {
  cursor: pointer;
  height: 57px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-70ra0c {
  height: 37px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-5-copy-BlCaid {
  background-color: transparent;
  height: 390px;
  left: 1140px;
  position: absolute;
  top: 990px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-yZiHpC {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-yZiHpC {
  height: 37px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-4jT5DD {
  height: 84px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-xuLFeL {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-xuLFeL {
  cursor: pointer;
  height: 37px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-xdx5DR {
  height: 37px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-4OwCr9 {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-4OwCr9 {
  cursor: pointer;
  height: 57px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-p2b45h {
  height: 37px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-U2I8LU {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-U2I8LU {
  height: 59px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-r5sI3W {
  height: 37px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-hzcU4M {
  height: 37px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-hzcU4M {
  cursor: pointer;
  height: 57px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-d5JTsF {
  height: 37px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-3-copy-2-BlCaid {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1480px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .web-sub_-title-BlCaid {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .web-title-area-BlCaid {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .web-tabc2-c_re_popup-BlCaid {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .rectangle-QweNgF {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .x3rd-depth-QweNgF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .layout-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbannertype .life-tab-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbannertype .service-card-health-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbannertype .basic-_-title-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbannertype .basic-_-page-indicat-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbannertype .basic-_-bg-copy-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbannertype .basic-_-primary-colo-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbannertype .x3rd-depth-copy-QweNgF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .basic-type-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardbannertype .quick-link-type-copy-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbannertype .quick-link-type-_-se-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbannertype .quick-link-type-_-ic-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbannertype .banner-type-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbannertype .broken-token-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbannertype .lnb-service-feature-BlCaid {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbannertype .rectangle-THxBnF {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.coreapplifetabservicecardbannertype .line-THxBnF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbannertype .home-net-gui-guidelin-THxBnF {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup2 .web-index-title-reference-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-xwsxPD {
  bottom: 0px;
}

.stackedgroup2 .empty-ijbXHj {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-copy-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-K690TO {
  bottom: 0px;
}

.stackedgroup2 .empty-6Nhabs {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1dpeth_close-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1dpeth_open_selected-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-copy-2-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-NA9zcN {
  bottom: 0px;
}

.stackedgroup2 .empty-rH4X1g {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbannertype .webgnb-BlCaid {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .rectangle-9I92xH {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .background-9I92xH {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .index-9I92xH {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicecardbannertype .web-index-select-1wDQuD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicecardbannertype .web-index-unselect-1wDQuD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicecardbannertype .web-index-unelect_main-9I92xH {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreapplifetabservicecardbannertype .logo-MHHkLn {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.coreapplifetabservicecardbannertype .group-4-copy {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-4-copy-3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-4-copy-4 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-4-copy-5 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-4-copy-6 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 333px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-title {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}
