/* screen - coreappcoreappmenutabsmartapartmentservice */

.coreappcoreappmenutabsmartapartmentservice {
  background-color: var(--white);
  height: 1361px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreappcoreappmenutabsmartapartmentservice .group-25-nPKtxV {
  background-color: transparent;
  height: 819px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.coreappcoreappmenutabsmartapartmentservice .group-2-nPKtxV {
  background-color: transparent;
  height: 473px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.coreappcoreappmenutabsmartapartmentservice .group-4-b5b8MP {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreappcoreappmenutabsmartapartmentservice .table-guide-text1line-lkgu8f {
  left: 0px;
  width: 50px;
}

.coreappcoreappmenutabsmartapartmentservice .table-guide-text1line_mint-lkgu8f {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreappcoreappmenutabsmartapartmentservice .table-guide-text1line-x1pGEs {
  left: 410px;
  width: 270px;
}

.coreappcoreappmenutabsmartapartmentservice .group-4-copy-b5b8MP {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.coreappcoreappmenutabsmartapartmentservice .group-4-copy-2-b5b8MP {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.coreappcoreappmenutabsmartapartmentservice .group-4-copy-3-b5b8MP {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 414px;
  width: 680px;
}

.coreappcoreappmenutabsmartapartmentservice .group-6-b5b8MP {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 283px;
  width: 680px;
}

.coreappcoreappmenutabsmartapartmentservice .table-guide-title-b5b8MP {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreappcoreappmenutabsmartapartmentservice .group-23-nPKtxV {
  background-color: transparent;
  height: 205px;
  left: 1140px;
  position: absolute;
  top: 956px;
  width: 216px;
}

.coreappcoreappmenutabsmartapartmentservice .group-26-nPKtxV {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.coreappcoreappmenutabsmartapartmentservice .web-title-area-nPKtxV {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreappcoreappmenutabsmartapartmentservice .web-tabc2-c_re_popup-nPKtxV {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.coreappcoreappmenutabsmartapartmentservice .rectangle-xszyJO {
  background-color: var(--white);
  height: 47px;
  width: 1600px;
}

.coreappcoreappmenutabsmartapartmentservice .x3rd-depth-xszyJO {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreappcoreappmenutabsmartapartmentservice .tab-LtRzLg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreappcoreappmenutabsmartapartmentservice .flow-upkZy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.coreappcoreappmenutabsmartapartmentservice .how-to-use-upkZy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.coreappcoreappmenutabsmartapartmentservice .smart-apartment-serv-upkZy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.coreappcoreappmenutabsmartapartmentservice .lnb-service-feature-nPKtxV {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappcoreappmenutabsmartapartmentservice .rectangle-onYnZr {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.coreappcoreappmenutabsmartapartmentservice .line-onYnZr {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreappcoreappmenutabsmartapartmentservice .home-net-gui-guidelin-onYnZr {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup24 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup24 .web-index-title-reference-copy-2-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .group-ofqU4F {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .empty-bKSeeX {
  bottom: 0px;
}

.stackedgroup24 .empty-l2dRrZ {
  top: 0px;
}

.stackedgroup24 .web-index-title-reference-copy-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .group-copy-ofqU4F {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .empty-Bwk24N {
  bottom: 0px;
}

.stackedgroup24 .empty-CbNzDh {
  top: 0px;
}

.stackedgroup24 .web-index-title-reference-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .web-index-contents1dpeth_close-copy-2-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .web-index-contents1dpeth_open_selected-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .group-copy-2-ofqU4F {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .empty-h8sxZh {
  bottom: 0px;
}

.stackedgroup24 .empty-yBfTvN {
  top: 0px;
}

.stackedgroup24 .web-index-title-reference-copy-3-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreappcoreappmenutabsmartapartmentservice .webgnb-nPKtxV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappcoreappmenutabsmartapartmentservice .rectangle-uJdNA9 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappcoreappmenutabsmartapartmentservice .background-uJdNA9 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappcoreappmenutabsmartapartmentservice .index-uJdNA9 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreappcoreappmenutabsmartapartmentservice .web-index-select-3uJrWI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreappcoreappmenutabsmartapartmentservice .web-index-unselect-3uJrWI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreappcoreappmenutabsmartapartmentservice .web-index-unelect_main-uJdNA9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreappcoreappmenutabsmartapartmentservice .logo-3gFhqq {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.coreappcoreappmenutabsmartapartmentservice .table-guide-text1line {
  background-color: transparent;
  height: 37px;
  position: absolute;
  top: 0px;
}
