/* screen - tabletservicepluinnotice */

.tabletservicepluinnotice {
  background-color: var(--white);
  height: 3396px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinnotice .group-15-qEZkpQ {
  background-color: transparent;
  height: 184px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinnotice .group-13-lxlsZu {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-5-HO2A3O {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-8-HO2A3O {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-HO2A3O {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .group-14-lxlsZu {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-6-8PvoyT {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-9-8PvoyT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-2-8PvoyT {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .descriptiontabletop-copy-lxlsZu {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinnotice .group-18-qEZkpQ {
  background-color: transparent;
  height: 162px;
  left: 1140px;
  position: absolute;
  top: 1138px;
  width: 680px;
}

.tabletservicepluinnotice .group-16-wL8XFU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-11-FjnVdl {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-14-FjnVdl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-7-FjnVdl {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .group-17-wL8XFU {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-10-2U3PPm {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-13-2U3PPm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-6-2U3PPm {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .descriptiontabletop-copy-3-wL8XFU {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinnotice .group-20-qEZkpQ {
  background-color: transparent;
  height: 184px;
  left: 1140px;
  position: absolute;
  top: 2690px;
  width: 680px;
}

.tabletservicepluinnotice .group-4-copy-7ClRXd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-19-kKWLw3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-14-kKWLw3 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-20-kKWLw3 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .descriptiontabletop-copy-4-7ClRXd {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinnotice .group-5-copy-7ClRXd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-15-8Ulkhx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-12-8Ulkhx {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-16-8Ulkhx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .group-19-qEZkpQ {
  background-color: transparent;
  height: 253px;
  left: 1140px;
  position: absolute;
  top: 1794px;
  width: 680px;
}

.tabletservicepluinnotice .group-4-AEfox4 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-10-TBiq0t {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-8-TBiq0t {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-4-TBiq0t {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .group-3-AEfox4 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 194px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-11-DUqJhC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-7-DUqJhC {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-3-DUqJhC {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .descriptiontabletop-copy-2-AEfox4 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinnotice .group-5-AEfox4 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-12-tT8075 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinnotice .table-guide-text2line_m-copy-9-tT8075 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .table-guide-text1line-copy-5-tT8075 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinnotice .group-11-qEZkpQ {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 2690px;
  width: 640px;
}

.tabletservicepluinnotice .group-7-qEZkpQ {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1138px;
  width: 680px;
}

.tabletservicepluinnotice .group-9-qEZkpQ {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 1794px;
  width: 670px;
}

.tabletservicepluinnotice .group-12-qEZkpQ {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinnotice .web-sub_-title-qEZkpQ {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluinnotice .web-title-area-qEZkpQ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinnotice .web-tabtablet_service-plug-innotice-qEZkpQ {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinnotice .x3rd-depth-picxyO {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinnotice .tab-picxyO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinnotice .feature-JPZFQO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinnotice .lnbtablet_serviceplugin-qEZkpQ {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinnotice .rectangle-qU1apR {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinnotice .line-qU1apR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinnotice .home-net-gui-guidelin-qU1apR {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup38 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup38 .web-index-title-reference-copy-2-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-v5kFlE {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-title-reference-copy-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-copy-v5kFlE {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-title-reference-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-copy-2-v5kFlE {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-title-reference-copy-3-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-3-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-2-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-4-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-5-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-6-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-16-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-15-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-14-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-13-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-12-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-11-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-10-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-18-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-17-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-19-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-21-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-20-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-22-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinnotice .webgnb-qEZkpQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinnotice .rectangle-Vs2sQx {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinnotice .background-Vs2sQx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinnotice .index-Vs2sQx {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinnotice .web-index-select-vytiz3 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinnotice .web-index-unselect-vytiz3 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinnotice .web-index-unelect_main-Vs2sQx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinnotice .logo-WgNejU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
