/* screen - tabletservicepluinservicepluginliveviewfeature */

.tabletservicepluinservicepluginliveviewfeature {
  background-color: var(--white);
  height: 3493px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinservicepluginliveviewfeature .group-21-31p6Jo {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 1891px;
  width: 670px;
}

.tabletservicepluinservicepluginliveviewfeature .group-3-31p6Jo {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 2787px;
  width: 640px;
}

.tabletservicepluinservicepluginliveviewfeature .group-9-31p6Jo {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 670px;
}

.tabletservicepluinservicepluginliveviewfeature .group-8-31p6Jo {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1235px;
  width: 640px;
}

.tabletservicepluinservicepluginliveviewfeature .group-12-copy-3-31p6Jo {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1891px;
  width: 680px;
}

.tabletservicepluinservicepluginliveviewfeature .group-12-copy-4-31p6Jo {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 2787px;
  width: 680px;
}

.tabletservicepluinservicepluginliveviewfeature .group-12-31p6Jo {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinservicepluginliveviewfeature .group-12-copy-2-31p6Jo {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1235px;
  width: 680px;
}

.tabletservicepluinservicepluginliveviewfeature .web-sub_-title-31p6Jo {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.tabletservicepluinservicepluginliveviewfeature .web-title-area-31p6Jo {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinservicepluginliveviewfeature .web-tabtablet_service-plug-in-live-view-31p6Jo {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinservicepluginliveviewfeature .rectangle-s2xI8P {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinservicepluginliveviewfeature .x3rd-depth-copy-s2xI8P {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinservicepluginliveviewfeature .incoming-call_-flow_m-s2xI8P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 507px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinservicepluginliveviewfeature .flow_-front-door-s2xI8P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 807px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinservicepluginliveviewfeature .flow_-back-key-s2xI8P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1129px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinservicepluginliveviewfeature .flow_-home-screen-s2xI8P {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 961px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinservicepluginliveviewfeature .tab-copy-s2xI8P {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinservicepluginliveviewfeature .live-view_-feature_-ca-wM0wCY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinservicepluginliveviewfeature .live-view_-feature_-po-wM0wCY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.tabletservicepluinservicepluginliveviewfeature .x3rd-depth-copy-2-s2xI8P {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinservicepluginliveviewfeature .feature_-main-entranc-Ywx7Ix {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinservicepluginliveviewfeature .feature_-basic_layout-Ywx7Ix {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinservicepluginliveviewfeature .feature_-front-door-Ywx7Ix {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinservicepluginliveviewfeature .feature_-call-end-Ywx7Ix {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinservicepluginliveviewfeature .feature_-back-key-Ywx7Ix {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinservicepluginliveviewfeature .feature_-exceptional-Ywx7Ix {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinservicepluginliveviewfeature .lnbtablet_serviceplugin-31p6Jo {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinservicepluginliveviewfeature .rectangle-YoTyB1 {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinservicepluginliveviewfeature .line-YoTyB1 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinservicepluginliveviewfeature .home-net-gui-guidelin-YoTyB1 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup22 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup22 .web-index-title-reference-copy-2-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-MSm7nV {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-title-reference-copy-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-copy-MSm7nV {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-title-reference-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-copy-2-MSm7nV {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-title-reference-copy-3-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-3-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-2-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-4-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-5-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-6-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-16-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-15-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-14-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-13-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-12-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-11-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-10-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-18-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-17-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-19-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-21-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-20-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-22-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinservicepluginliveviewfeature .webgnb-31p6Jo {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinservicepluginliveviewfeature .rectangle-VP0GZ4 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinservicepluginliveviewfeature .background-VP0GZ4 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinservicepluginliveviewfeature .index-VP0GZ4 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinservicepluginliveviewfeature .web-index-select-0fY6jZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinservicepluginliveviewfeature .web-index-unselect-0fY6jZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinservicepluginliveviewfeature .web-index-unelect_main-VP0GZ4 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinservicepluginliveviewfeature .logo-5Znxdq {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinservicepluginliveviewfeature .descriptiontabletop-copy {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinservicepluginliveviewfeature .group-11 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinservicepluginliveviewfeature .table-guide-text1line-copy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinservicepluginliveviewfeature .table-guide-text1line-copy-8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinservicepluginliveviewfeature .table-guide-text2line_m-copy-6 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
