/* screen - tabletservicepluinliveviewfeatureexceptional */

.tabletservicepluinliveviewfeatureexceptional {
  background-color: var(--white);
  height: 3543px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeatureexceptional .group-22-NF6eIL {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1285px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-NtiyQp {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .group-19-NF6eIL {
  background-color: transparent;
  height: 419px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .descriptiontabletop-copy-UZUaty {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .group-18-UZUaty {
  background-color: transparent;
  height: 98px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-OOyLLB {
  height: 57px;
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-11-OOyLLB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-11-OOyLLB {
  background-color: transparent;
  cursor: pointer;
  height: 98px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .group-17-UZUaty {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 231px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-9-gx3J6s {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-25-gx3J6s {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-12-gx3J6s {
  background-color: transparent;
  cursor: pointer;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .group-16-UZUaty {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 340px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-24-eZ1Hal {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-26-eZ1Hal {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-13-eZ1Hal {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-1Swmz0 {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .group-22-copy-NF6eIL {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2837px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-wv2dkL {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .group-20-NF6eIL {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1941px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .descriptiontabletop-copy-2-J657Ge {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .group-14-J657Ge {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-32-QxLD64 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-28-QxLD64 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-19-QxLD64 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-jxY8mR {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .group-9-NF6eIL {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 660px;
}

.tabletservicepluinliveviewfeatureexceptional .group-15-NF6eIL {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.tabletservicepluinliveviewfeatureexceptional .group-11-NF6eIL {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 1941px;
  width: 690px;
}

.tabletservicepluinliveviewfeatureexceptional .group-13-NF6eIL {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 2837px;
  width: 660px;
}

.tabletservicepluinliveviewfeatureexceptional .web-sub_-title-NF6eIL {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .web-title-area-NF6eIL {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .web-tabtablet_service-plug-in-live-view-NF6eIL {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-1PxgBJ {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .x3rd-depth-copy-1PxgBJ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .incoming-call_-flow_m-1PxgBJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 507px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeatureexceptional .flow_-front-door-1PxgBJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 807px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeatureexceptional .flow_-back-key-1PxgBJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1129px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeatureexceptional .flow_-home-screen-1PxgBJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 961px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeatureexceptional .tab-copy-1PxgBJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeatureexceptional .live-view_-feature_-ca-xgicrR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeatureexceptional .live-view_-feature_-po-xgicrR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeatureexceptional .x3rd-depth-copy-2-1PxgBJ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-main-entranc-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-basic_layout-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-front-door-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-call-end-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-back-key-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-exceptional-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 161px;
}

.tabletservicepluinliveviewfeatureexceptional .lnbtablet_serviceplugin-NF6eIL {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-MyDvDw {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeatureexceptional .line-MyDvDw {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeatureexceptional .home-net-gui-guidelin-MyDvDw {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup3 .web-index-title-reference-copy-2-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-xPfwq5 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-title-reference-copy-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-copy-xPfwq5 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-title-reference-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-copy-2-xPfwq5 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-title-reference-copy-3-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-3-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-2-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-4-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-5-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-6-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-16-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-15-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-14-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-13-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-12-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-11-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-10-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-18-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-17-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-19-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-21-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-20-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-22-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeatureexceptional .webgnb-NF6eIL {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-25iOET {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeatureexceptional .background-25iOET {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeatureexceptional .index-25iOET {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeatureexceptional .web-index-select-PdAFmD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeatureexceptional .web-index-unselect-PdAFmD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeatureexceptional .web-index-unelect_main-25iOET {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .logo-bxeXKp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .descriptiontabletop-copy-3 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .group-21 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .group-6 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-12 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-13 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8 {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-14 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-6 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
