/* screen - tabletservicepluinhomesccreenmoreservice */

.tabletservicepluinhomesccreenmoreservice {
  background-color: var(--white);
  height: 1582px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinhomesccreenmoreservice .group-7-z4FzIF {
  background-color: transparent;
  height: 1098px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmoreservice .web-title-area-z4FzIF {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmoreservice .web-tabtablet_service-plug-inhomescreen-z4FzIF {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmoreservice .x3rd-depth-0A8gWb {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmoreservice .tab-0A8gWb {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinhomesccreenmoreservice .feature-copy-4-o8EmW8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinhomesccreenmoreservice .feature-_-shortcut-o8EmW8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletservicepluinhomesccreenmoreservice .banner_-o8EmW8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluinhomesccreenmoreservice .more-o8EmW8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.tabletservicepluinhomesccreenmoreservice .more-_-edit-_-featur-copy-o8EmW8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.tabletservicepluinhomesccreenmoreservice .more-_-notifications-copy-o8EmW8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.tabletservicepluinhomesccreenmoreservice .more-_-help-guide-copy-o8EmW8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.tabletservicepluinhomesccreenmoreservice .service-feature-o8EmW8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluinhomesccreenmoreservice .lnbtablet_serviceplugin-z4FzIF {
  background-color: transparent;
  height: 1433px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinhomesccreenmoreservice .rectangle-nPxwau {
  background-color: var(--concrete);
  height: 1433px;
  width: 320px;
}

.tabletservicepluinhomesccreenmoreservice .line-nPxwau {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinhomesccreenmoreservice .home-net-gui-guidelin-nPxwau {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup31 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup31 .web-index-title-reference-copy-2-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-jjB0ne {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-title-reference-copy-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-copy-jjB0ne {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-title-reference-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-copy-2-jjB0ne {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-title-reference-copy-3-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-3-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-2-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-4-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-5-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-6-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-16-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-15-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-14-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-13-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-12-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-11-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-10-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-18-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-17-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-19-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-21-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-20-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-22-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinhomesccreenmoreservice .webgnb-z4FzIF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmoreservice .rectangle-6XTw0r {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmoreservice .background-6XTw0r {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmoreservice .index-6XTw0r {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinhomesccreenmoreservice .web-index-select-iWsErc {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinhomesccreenmoreservice .web-index-unselect-iWsErc {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinhomesccreenmoreservice .web-index-unelect_main-6XTw0r {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmoreservice .logo-p37AY2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
