/* screen - tabletservicepluinvehiclecolorpicker */

.tabletservicepluinvehiclecolorpicker {
  background-color: var(--white);
  height: 1944px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinvehiclecolorpicker .group-13-yLPsbu {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinvehiclecolorpicker .group-14-yLPsbu {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletservicepluinvehiclecolorpicker .group-4-yLPsbu {
  background-color: transparent;
  height: 243px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinvehiclecolorpicker .group-2-gq6xnt {
  background-color: transparent;
  height: 134px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvehiclecolorpicker .table-guide-text2line_m-copy-8-UUcEHP {
  background-color: transparent;
  height: 78px;
  left: 60px;
  position: absolute;
  top: 56px;
  width: 340px;
}

.tabletservicepluinvehiclecolorpicker .descriptiontabletop-copy-2-UUcEHP {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvehiclecolorpicker .table-guide-text1line-copy-11-UUcEHP {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 50px;
}

.tabletservicepluinvehiclecolorpicker .table-guide-text1line-copy-5-UUcEHP {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 56px;
  width: 270px;
}

.tabletservicepluinvehiclecolorpicker .group-3-gq6xnt {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 400px;
}

.tabletservicepluinvehiclecolorpicker .table-guide-text2line_m-copy-9-HCe9Kn {
  background-color: transparent;
  cursor: pointer;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehiclecolorpicker .table-guide-text1line-copy-12-HCe9Kn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehiclecolorpicker .group-6-yLPsbu {
  background-color: transparent;
  height: 133px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinvehiclecolorpicker .group-5-YE9vmK {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvehiclecolorpicker .table-guide-text2line_m-copy-15-50xt1v {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehiclecolorpicker .table-guide-text1line-copy-22-50xt1v {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehiclecolorpicker .table-guide-text1line-copy-25-50xt1v {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvehiclecolorpicker .descriptiontabletop-copy-6-YE9vmK {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvehiclecolorpicker .web-sub_-title-yLPsbu {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluinvehiclecolorpicker .web-title-area-yLPsbu {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinvehiclecolorpicker .web-tabtablet_service-plug-innotice-yLPsbu {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinvehiclecolorpicker .x3rd-depth-o3xkLF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinvehiclecolorpicker .tab-o3xkLF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinvehiclecolorpicker .feature-FDZ634 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinvehiclecolorpicker .tab-copy-o3xkLF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 198px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinvehiclecolorpicker .color-picker-75IlAP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 74px;
}

.tabletservicepluinvehiclecolorpicker .parking-location-75IlAP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 101px;
}

.tabletservicepluinvehiclecolorpicker .lnbtablet_serviceplugin-yLPsbu {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinvehiclecolorpicker .rectangle-uC1P0G {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinvehiclecolorpicker .line-uC1P0G {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinvehiclecolorpicker .home-net-gui-guidelin-uC1P0G {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup2 .web-index-title-reference-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-EHSxTt {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-copy-EHSxTt {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-copy-2-EHSxTt {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-4-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-5-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-6-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-16-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-15-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-14-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-13-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-12-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-11-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-10-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-18-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-17-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-19-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-21-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-20-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-22-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinvehiclecolorpicker .webgnb-yLPsbu {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinvehiclecolorpicker .rectangle-Plg22o {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinvehiclecolorpicker .background-Plg22o {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinvehiclecolorpicker .index-Plg22o {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinvehiclecolorpicker .web-index-select-ofeDYn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinvehiclecolorpicker .web-index-unselect-ofeDYn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinvehiclecolorpicker .web-index-unelect_main-Plg22o {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehiclecolorpicker .logo-ufH9kV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
