/* screen - tabletservicepluinreservevisitorvehiclenoitem */

.tabletservicepluinreservevisitorvehiclenoitem {
  background-color: var(--white);
  height: 3502px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-10-o3VmnW {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-6-lvP0DY {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text2line_m-copy-6-c6EAhy {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text1line-copy-c6EAhy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text1line-copy-8-c6EAhy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinreservevisitorvehiclenoitem .descriptiontabletop-copy-lvP0DY {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-11-o3VmnW {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1897px;
  width: 680px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-6-copy-NPYP7s {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text2line_m-copy-7-oHU2YV {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text1line-copy-2-oHU2YV {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text1line-copy-9-oHU2YV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinreservevisitorvehiclenoitem .descriptiontabletop-copy-2-NPYP7s {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-7-o3VmnW {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinreservevisitorvehiclenoitem .descriptiontabletop-copy-4-ME1vDZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text1line-copy-7-ME1vDZ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 56px;
  width: 270px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text2line_m-copy-28-ME1vDZ {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 56px;
  width: 340px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-5-o3VmnW {
  background-color: transparent;
  height: 509px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 640px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-8-o3VmnW {
  background-color: transparent;
  height: 509px;
  left: 420px;
  position: absolute;
  top: 2793px;
  width: 640px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-4-o3VmnW {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinreservevisitorvehiclenoitem .group-9-o3VmnW {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 1897px;
  width: 670px;
}

.tabletservicepluinreservevisitorvehiclenoitem .table-guide-text1line-copy-24-o3VmnW {
  background-color: transparent;
  height: 37px;
  left: 1140px;
  position: absolute;
  top: 1294px;
  width: 50px;
}

.tabletservicepluinreservevisitorvehiclenoitem .web-sub_-title-o3VmnW {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluinreservevisitorvehiclenoitem .web-title-area-o3VmnW {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinreservevisitorvehiclenoitem .web-tabtablet_service-plug-inems-o3VmnW {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinreservevisitorvehiclenoitem .x3rd-depth-9HUqU0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinreservevisitorvehiclenoitem .tab-9HUqU0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinreservevisitorvehiclenoitem .feature-XlqxWx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinreservevisitorvehiclenoitem .feature-register-XlqxWx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.tabletservicepluinreservevisitorvehiclenoitem .feature-_-delete-lis-XlqxWx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 128px;
}

.tabletservicepluinreservevisitorvehiclenoitem .feature-_-no-item-XlqxWx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 111px;
}

.tabletservicepluinreservevisitorvehiclenoitem .lnbtablet_serviceplugin-o3VmnW {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinreservevisitorvehiclenoitem .rectangle-pRY1Ey {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinreservevisitorvehiclenoitem .line-pRY1Ey {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinreservevisitorvehiclenoitem .home-net-gui-guidelin-pRY1Ey {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup13 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup13 .web-index-title-reference-copy-2-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-RPtMOJ {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-title-reference-copy-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-copy-RPtMOJ {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-title-reference-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-copy-2-RPtMOJ {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-title-reference-copy-3-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-3-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-2-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-4-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-5-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-6-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-16-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-15-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-14-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-13-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-12-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-11-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-10-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-18-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-17-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-19-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-21-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-20-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-22-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinreservevisitorvehiclenoitem .webgnb-o3VmnW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinreservevisitorvehiclenoitem .rectangle-7z4bZD {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinreservevisitorvehiclenoitem .background-7z4bZD {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinreservevisitorvehiclenoitem .index-7z4bZD {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinreservevisitorvehiclenoitem .web-index-select-jFR6ax {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinreservevisitorvehiclenoitem .web-index-unselect-jFR6ax {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinreservevisitorvehiclenoitem .web-index-unelect_main-7z4bZD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinreservevisitorvehiclenoitem .logo-E3M4RS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
