/* screen - tabletservicepluinvisitorslist */

.tabletservicepluinvisitorslist {
  background-color: var(--white);
  height: 3540px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinvisitorslist .group-8-DUVRnd {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinvisitorslist .group-7-DUVRnd {
  background-color: transparent;
  height: 528px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletservicepluinvisitorslist .group-6-DUVRnd {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 1916px;
  width: 670px;
}

.tabletservicepluinvisitorslist .group-5-DUVRnd {
  background-color: transparent;
  height: 528px;
  left: 420px;
  position: absolute;
  top: 2812px;
  width: 670px;
}

.tabletservicepluinvisitorslist .group-10-DUVRnd {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinvisitorslist .group-9-1sx7OQ {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvisitorslist .table-guide-text2line_m-copy-9-ta7dn6 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitorslist .table-guide-text1line-copy-12-ta7dn6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvisitorslist .table-guide-text1line-copy-6-ta7dn6 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvisitorslist .descriptiontabletop-copy-2-1sx7OQ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvisitorslist .group-14-DUVRnd {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 1916px;
  width: 680px;
}

.tabletservicepluinvisitorslist .group-13-trW0Hc {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvisitorslist .table-guide-text2line_m-copy-11-wKIdFg {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitorslist .table-guide-text1line-copy-10-wKIdFg {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvisitorslist .table-guide-text1line-copy-14-wKIdFg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvisitorslist .descriptiontabletop-copy-4-trW0Hc {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvisitorslist .group-12-DUVRnd {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinvisitorslist .group-11-kWPS5z {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvisitorslist .table-guide-text2line_m-copy-10-zyezEK {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitorslist .table-guide-text1line-copy-13-zyezEK {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvisitorslist .table-guide-text1line-copy-7-zyezEK {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvisitorslist .descriptiontabletop-copy-3-kWPS5z {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvisitorslist .group-16-DUVRnd {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 2812px;
  width: 680px;
}

.tabletservicepluinvisitorslist .group-15-yx2USh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvisitorslist .table-guide-text2line_m-copy-12-RqCu2W {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitorslist .table-guide-text1line-copy-11-RqCu2W {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvisitorslist .table-guide-text1line-copy-15-RqCu2W {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvisitorslist .descriptiontabletop-copy-6-yx2USh {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvisitorslist .web-sub_-title-DUVRnd {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluinvisitorslist .web-title-area-DUVRnd {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinvisitorslist .web-tabtablet_service-plug-in-visitors-DUVRnd {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinvisitorslist .x3rd-depth-9lSerX {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinvisitorslist .tab-9lSerX {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinvisitorslist .popup-HyWHd2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 40px;
}

.tabletservicepluinvisitorslist .feature_-list-HyWHd2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 79px;
}

.tabletservicepluinvisitorslist .lnbtablet_serviceplugin-DUVRnd {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinvisitorslist .rectangle-t1fgf6 {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinvisitorslist .line-t1fgf6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinvisitorslist .home-net-gui-guidelin-t1fgf6 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup5 .web-index-title-reference-copy-2-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-wmt0eg {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-title-reference-copy-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-copy-wmt0eg {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-title-reference-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-copy-2-wmt0eg {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-title-reference-copy-3-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-3-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-2-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-4-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-5-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-6-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-16-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-15-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-14-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-13-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-12-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-11-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-10-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-18-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-17-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-19-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-21-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-20-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-22-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinvisitorslist .webgnb-DUVRnd {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinvisitorslist .rectangle-ezItKe {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinvisitorslist .background-ezItKe {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinvisitorslist .index-ezItKe {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinvisitorslist .web-index-select-cxqByi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinvisitorslist .web-index-unselect-cxqByi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinvisitorslist .web-index-unelect_main-ezItKe {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitorslist .logo-MOskRv {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
