/* screen - tabletservicepluinhomesccreenmorehelp */

.tabletservicepluinhomesccreenmorehelp {
  background-color: var(--white);
  height: 3496px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinhomesccreenmorehelp .group-19-l64TCQ {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-12-1QoMZF {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-7-qveBPL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-12-qveBPL {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-13-qveBPL {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .group-11-1QoMZF {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-8-4Zfq4B {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-14-4Zfq4B {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-17-4Zfq4B {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .descriptiontabletop-copy-2-1QoMZF {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-14-l64TCQ {
  background-color: transparent;
  height: 133px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-13-rEVfFF {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-10-q4v3ub {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-19-q4v3ub {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-16-q4v3ub {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .descriptiontabletop-copy-4-rEVfFF {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-16-l64TCQ {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1894px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-15-iFOmjq {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-11-6uW9Pw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-20-6uW9Pw {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-18-6uW9Pw {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .descriptiontabletop-copy-6-iFOmjq {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-18-l64TCQ {
  background-color: transparent;
  height: 133px;
  left: 1140px;
  position: absolute;
  top: 2790px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-17-2rdfwZ {
  background-color: transparent;
  height: 133px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-20-xlQG0J {
  background-color: transparent;
  height: 133px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-8-uSLzrw {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-15-9QzVuN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-22-9QzVuN {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-21-9QzVuN {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .descriptiontabletop-copy-7-uSLzrw {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-6-l64TCQ {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinhomesccreenmorehelp .group-9-l64TCQ {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 1894px;
  width: 670px;
}

.tabletservicepluinhomesccreenmorehelp .group-10-l64TCQ {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 2790px;
  width: 670px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-copy-l64TCQ {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletservicepluinhomesccreenmorehelp .group-7-l64TCQ {
  background-color: transparent;
  height: 400px;
  left: 420px;
  position: absolute;
  top: 1344px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .web-sub_-title-l64TCQ {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmorehelp .web-title-area-l64TCQ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmorehelp .web-tabtablet_service-plug-inhomescreen-l64TCQ {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmorehelp .x3rd-depth-QSgcxP {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmorehelp .tab-QSgcxP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinhomesccreenmorehelp .feature-copy-4-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinhomesccreenmorehelp .feature-_-shortcut-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletservicepluinhomesccreenmorehelp .banner_-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluinhomesccreenmorehelp .more-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.tabletservicepluinhomesccreenmorehelp .more-_-edit-_-featur-copy-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.tabletservicepluinhomesccreenmorehelp .more-_-notifications-copy-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.tabletservicepluinhomesccreenmorehelp .more-_-help-guide-copy-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.tabletservicepluinhomesccreenmorehelp .service-feature-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluinhomesccreenmorehelp .lnbtablet_serviceplugin-l64TCQ {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-CcvGau {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinhomesccreenmorehelp .line-CcvGau {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinhomesccreenmorehelp .home-net-gui-guidelin-CcvGau {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup32 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup32 .web-index-title-reference-copy-2-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-ccl8pA {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-title-reference-copy-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-copy-ccl8pA {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-title-reference-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-copy-2-ccl8pA {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-title-reference-copy-3-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-3-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-2-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-4-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-5-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-6-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-16-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-15-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-14-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-13-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-12-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-11-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-10-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-18-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-17-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-19-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-21-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-20-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents2dpeth-copy-22-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinhomesccreenmorehelp .webgnb-l64TCQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-eYlO3P {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmorehelp .background-eYlO3P {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmorehelp .index-eYlO3P {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinhomesccreenmorehelp .web-index-select-e1AqW5 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinhomesccreenmorehelp .web-index-unselect-e1AqW5 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinhomesccreenmorehelp .web-index-unelect_main-eYlO3P {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .logo-VhOz86 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
