/* screen - tabletservicepluinliveviewfeaturecallend */

.tabletservicepluinliveviewfeaturecallend {
  background-color: var(--white);
  height: 3526px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturecallend .group-7-rV9pIz {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 1924px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturecallend .group-5-rV9pIz {
  background-color: transparent;
  height: 506px;
  left: 401px;
  position: absolute;
  top: 2820px;
  width: 659px;
}

.tabletservicepluinliveviewfeaturecallend .group-15-rV9pIz {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1924px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .descriptiontabletop-copy-3-6R0DYP {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .group-14-6R0DYP {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text2line_m-copy-14-AvhAf0 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-13-AvhAf0 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-12-AvhAf0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturecallend .group-13-rV9pIz {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2820px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .descriptiontabletop-copy-4-pAH5f8 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .group-12-pAH5f8 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text2line_m-copy-16-90h7fV {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-16-90h7fV {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-15-90h7fV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturecallend .group-11-EeChK0 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .group-10-rV9pIz {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturecallend .group-19-rV9pIz {
  background-color: transparent;
  height: 221px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .descriptiontabletop-copy-4ZfVcv {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .group-18-4ZfVcv {
  background-color: transparent;
  height: 98px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text2line_m-copy-11-iwqIcp {
  background-color: transparent;
  cursor: pointer;
  height: 98px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-6-iwqIcp {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-10-iwqIcp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturecallend .group-8-rV9pIz {
  background-color: transparent;
  height: 489px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 660px;
}

.tabletservicepluinliveviewfeaturecallend .group-17-rV9pIz {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1285px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .descriptiontabletop-copy-2-K2RUaq {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .group-16-K2RUaq {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text2line_m-copy-12-ZDSdff {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-7-ZDSdff {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-11-ZDSdff {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturecallend .web-sub_-title-rV9pIz {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturecallend .web-title-area-rV9pIz {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturecallend .web-tabtablet_service-plug-in-live-view-rV9pIz {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturecallend .rectangle-oDxsS4 {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturecallend .x3rd-depth-copy-oDxsS4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturecallend .incoming-call_-flow_m-oDxsS4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 507px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeaturecallend .flow_-front-door-oDxsS4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 807px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeaturecallend .flow_-back-key-oDxsS4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1129px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeaturecallend .flow_-home-screen-oDxsS4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 961px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeaturecallend .tab-copy-oDxsS4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeaturecallend .live-view_-feature_-ca-Di9itZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeaturecallend .live-view_-feature_-po-Di9itZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeaturecallend .x3rd-depth-copy-2-oDxsS4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturecallend .feature_-main-entranc-ERh7xZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveviewfeaturecallend .feature_-basic_layout-ERh7xZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveviewfeaturecallend .feature_-front-door-ERh7xZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeaturecallend .feature_-call-end-ERh7xZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.tabletservicepluinliveviewfeaturecallend .feature_-back-key-ERh7xZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeaturecallend .feature_-exceptional-ERh7xZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveviewfeaturecallend .lnbtablet_serviceplugin-rV9pIz {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturecallend .rectangle-sC6He2 {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturecallend .line-sC6He2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeaturecallend .home-net-gui-guidelin-sC6He2 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup28 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup28 .web-index-title-reference-copy-2-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-5XYr15 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-title-reference-copy-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-copy-5XYr15 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-title-reference-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-copy-2-5XYr15 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-title-reference-copy-3-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-3-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-2-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-4-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-5-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-6-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-16-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-15-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-14-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-13-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-12-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-11-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-10-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-18-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-17-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-19-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-21-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-20-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .web-index-contents2dpeth-copy-22-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeaturecallend .webgnb-rV9pIz {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturecallend .rectangle-SNOkFM {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturecallend .background-SNOkFM {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturecallend .index-SNOkFM {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeaturecallend .web-index-select-3lvjb2 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeaturecallend .web-index-unselect-3lvjb2 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeaturecallend .web-index-unelect_main-SNOkFM {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturecallend .logo-l7bxRr {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturecallend .group-6 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text1line-copy-8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturecallend .table-guide-text2line_m-copy-6 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
