/* screen - tabletservicepluinmaintenancefee */

.tabletservicepluinmaintenancefee {
  background-color: var(--white);
  height: 3716px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinmaintenancefee .group-7-yrIpn3 {
  background-color: transparent;
  height: 746px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletservicepluinmaintenancefee .group-5-yrIpn3 {
  background-color: transparent;
  height: 857px;
  left: 380px;
  position: absolute;
  top: 1894px;
  width: 710px;
}

.tabletservicepluinmaintenancefee .group-4-yrIpn3 {
  background-color: transparent;
  height: 615px;
  left: 380px;
  position: absolute;
  top: 2901px;
  width: 710px;
}

.tabletservicepluinmaintenancefee .group-6-yrIpn3 {
  background-color: transparent;
  height: 507px;
  left: 380px;
  position: absolute;
  top: 1238px;
  width: 710px;
}

.tabletservicepluinmaintenancefee .group-11-yrIpn3 {
  background-color: transparent;
  height: 271px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-8-n0CHh7 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-6-wBgxCt {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-8-wBgxCt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-wBgxCt {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .descriptiontabletop-copy-n0CHh7 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-10-n0CHh7 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-16-cnvv4P {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-12-cnvv4P {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-7-cnvv4P {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .group-9-n0CHh7 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-2-VkNBfr {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-19-VkNBfr {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-25-VkNBfr {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-26-yrIpn3 {
  background-color: transparent;
  height: 469px;
  left: 1140px;
  position: absolute;
  top: 1894px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-15-M9FWSx {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-8-ZzAHsO {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-15-ZzAHsO {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-6-ZzAHsO {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .descriptiontabletop-copy-3-M9FWSx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-17-M9FWSx {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-18-tLtJ62 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-14-tLtJ62 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-11-tLtJ62 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .group-18-M9FWSx {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 281px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-19-sOTq2w {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-23-sOTq2w {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-16-sOTq2w {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .group-19-M9FWSx {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 370px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-20-E5txyA {
  background-color: transparent;
  cursor: pointer;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-22-E5txyA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-18-E5txyA {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .group-16-M9FWSx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-5-BHLhYy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-21-BHLhYy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-27-BHLhYy {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-25-yrIpn3 {
  background-color: transparent;
  height: 409px;
  left: 1143px;
  position: absolute;
  top: 2901px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-20-aMT8Qd {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-9-JakDaJ {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-32-JakDaJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-31-JakDaJ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .descriptiontabletop-copy-4-aMT8Qd {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-22-aMT8Qd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-23-2E0zI5 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-30-2E0zI5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-29-2E0zI5 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .group-23-aMT8Qd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 281px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-22-iVCOCY {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-28-iVCOCY {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-27-iVCOCY {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .group-24-aMT8Qd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 350px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-21-UgqelZ {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-26-UgqelZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-25-UgqelZ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .group-21-aMT8Qd {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-17-5nKM4Y {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-24-5nKM4Y {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-28-5nKM4Y {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-27-yrIpn3 {
  background-color: transparent;
  height: 271px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-12-NR2XsO {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-7-yx528O {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-10-yx528O {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-4-yx528O {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .descriptiontabletop-copy-2-NR2XsO {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-14-NR2XsO {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-17-TK7h7O {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-13-TK7h7O {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-9-TK7h7O {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .group-13-NR2XsO {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-3-7M4Kwj {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-20-7M4Kwj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-26-7M4Kwj {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .web-sub_-title-yrIpn3 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluinmaintenancefee .web-title-area-yrIpn3 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinmaintenancefee .lnbtablet_serviceplugin-yrIpn3 {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinmaintenancefee .rectangle-TOBJbS {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinmaintenancefee .line-TOBJbS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinmaintenancefee .home-net-gui-guidelin-TOBJbS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup20 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup20 .web-index-title-reference-copy-2-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-5NjPHy {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-title-reference-copy-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-copy-5NjPHy {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-title-reference-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-copy-2-5NjPHy {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-title-reference-copy-3-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-3-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-2-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-4-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-5-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-6-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-16-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-15-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-14-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-13-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-12-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-11-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-10-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-18-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-17-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-19-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-21-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-20-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-22-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinmaintenancefee .webgnb-yrIpn3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinmaintenancefee .rectangle-PSMytS {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinmaintenancefee .background-PSMytS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinmaintenancefee .index-PSMytS {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinmaintenancefee .web-index-select-KE7fxL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinmaintenancefee .web-index-unselect-KE7fxL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinmaintenancefee .web-index-unelect_main-PSMytS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .logo-aEvO9Z {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .web-tabtablet_service-plug-inems-yrIpn3 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinmaintenancefee .x3rd-depth-2fWAfO {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinmaintenancefee .feature-2fWAfO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 48px;
}
