/* screen - tabletservicepluinliveviewfeaturebasiclayout */

.tabletservicepluinliveviewfeaturebasiclayout {
  background-color: var(--white);
  height: 3141px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-3-dIxbxv {
  background-color: transparent;
  height: 503px;
  left: 1140px;
  position: absolute;
  top: 1981px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-13-7fVhSr {
  cursor: pointer;
  height: 79px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-10-copy-WTcn0r {
  background-color: transparent;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-13-RFgzuT {
  height: 51px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-WTcn0r {
  background-color: transparent;
  height: 297px;
  left: 0px;
  position: absolute;
  top: 206px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12-pKLWlA {
  cursor: pointer;
  height: 121px;
  top: 89px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7-pKLWlA {
  height: 57px;
  top: 89px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-17-pKLWlA {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 220px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12-LGx1Wa {
  height: 37px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7-LGx1Wa {
  height: 79px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .descriptiontabletop-copy-3-WTcn0r {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-16-dIxbxv {
  background-color: transparent;
  height: 222px;
  left: 1140px;
  position: absolute;
  top: 1285px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-13-PvZCIt {
  cursor: pointer;
  height: 79px;
}

.tabletservicepluinliveviewfeaturebasiclayout .descriptiontabletop-copy-2-xRPCAN {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-8-xRPCAN {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12-xRqThH {
  height: 34px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7-xRqThH {
  height: 77px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-19-dIxbxv {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-18-KBhOsK {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-6-FZgx0M {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-8-FZgx0M {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-FZgx0M {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .descriptiontabletop-copy-KBhOsK {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-17-KBhOsK {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12-ADA0Dg {
  height: 34px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7-ADA0Dg {
  height: 57px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-15-dIxbxv {
  background-color: transparent;
  height: 546px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 700px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-13-dIxbxv {
  background-color: transparent;
  height: 960px;
  left: 380px;
  position: absolute;
  top: 1981px;
  width: 721px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-2-dIxbxv {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-sub_-title-dIxbxv {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-title-area-dIxbxv {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-tabtablet_service-plug-in-live-view-dIxbxv {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-7lUaH4 {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .x3rd-depth-copy-7lUaH4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .incoming-call_-flow_m-7lUaH4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 507px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeaturebasiclayout .flow_-front-door-7lUaH4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 807px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeaturebasiclayout .flow_-back-key-7lUaH4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1129px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeaturebasiclayout .flow_-home-screen-7lUaH4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 961px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeaturebasiclayout .tab-copy-7lUaH4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeaturebasiclayout .live-view_-feature_-ca-Kgx4dW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeaturebasiclayout .live-view_-feature_-po-Kgx4dW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeaturebasiclayout .x3rd-depth-copy-2-7lUaH4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-main-entranc-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-basic_layout-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 182px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-front-door-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-call-end-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-back-key-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-exceptional-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveviewfeaturebasiclayout .lnbtablet_serviceplugin-dIxbxv {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-d9l0Cz {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturebasiclayout .line-d9l0Cz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeaturebasiclayout .home-net-gui-guidelin-d9l0Cz {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup16 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup16 .web-index-title-reference-copy-2-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .group-vtTndc {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-title-reference-copy-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .group-copy-vtTndc {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-title-reference-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .group-copy-2-vtTndc {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-title-reference-copy-3-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-3-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-2-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-4-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-5-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-6-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-16-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-15-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-14-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-13-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-12-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-11-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-10-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-18-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-17-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-19-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-21-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-20-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup16 .web-index-contents2dpeth-copy-22-vtTndc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeaturebasiclayout .webgnb-dIxbxv {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-xDrWc5 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebasiclayout .background-xDrWc5 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebasiclayout .index-xDrWc5 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-index-select-KcZ9VE {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-index-unselect-KcZ9VE {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-index-unelect_main-xDrWc5 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .logo-z3uIIF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-10 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-14 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-2 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7 {
  background-color: transparent;
  left: 410px;
  position: absolute;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12 {
  background-color: transparent;
  left: 60px;
  position: absolute;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-13 {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
