/* screen - tabletservicepluinliveviewfeaturemainentrancedoor */

.tabletservicepluinliveviewfeaturemainentrancedoor {
  background-color: var(--white);
  height: 4439px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-17-8Ek53h {
  background-color: transparent;
  height: 274px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-11-xx383x {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-6-TLDIJA {
  height: 57px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-9-xx383x {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-14-ZyGH4b {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12-ZyGH4b {
  cursor: pointer;
  height: 84px;
  left: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-7-ZyGH4b {
  height: 37px;
  left: 410px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-xx383x {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-xx383x {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12-3P39hz {
  height: 34px;
  left: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-6-3P39hz {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-11-copy-8Ek53h {
  background-color: transparent;
  height: 293px;
  left: 1140px;
  position: absolute;
  top: 1285px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-7-Qmk9Ps {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-9-Qmk9Ps {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-2-Qmk9Ps {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-3-LaY0kR {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10-LaY0kR {
  top: 123px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-13-DXvJTB {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-11-DXvJTB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-12-DXvJTB {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8-LaY0kR {
  height: 101px;
  top: 192px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-14-AchQi6 {
  background-color: transparent;
  cursor: pointer;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-13-AchQi6 {
  background-color: transparent;
  height: 57px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-11-copy-2-8Ek53h {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 2181px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-8-CnaOr4 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-16-CnaOr4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-3-CnaOr4 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-4-coyRcM {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10-coyRcM {
  top: 123px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-15-6xHqvm {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-17-6xHqvm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-18-6xHqvm {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8-coyRcM {
  height: 121px;
  top: 192px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-16-EfJZTb {
  background-color: transparent;
  cursor: pointer;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-19-EfJZTb {
  background-color: transparent;
  height: 57px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-7-8Ek53h {
  background-color: transparent;
  height: 333px;
  left: 1140px;
  position: absolute;
  top: 3077px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-6-zO87FO {
  height: 77px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-15-zO87FO {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-2-PwzKxz {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10-PwzKxz {
  top: 143px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12-N7iAXF {
  height: 37px;
  left: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-7-N7iAXF {
  height: 59px;
  left: 410px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8-PwzKxz {
  height: 121px;
  top: 212px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12-KvUxsH {
  cursor: pointer;
  height: 121px;
  left: 0px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-7-KvUxsH {
  height: 57px;
  left: 350px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-7-copy-8Ek53h {
  background-color: transparent;
  height: 333px;
  left: 1140px;
  position: absolute;
  top: 3733px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-9-NAJTd5 {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-20-NAJTd5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-4-NAJTd5 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-21-NAJTd5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-5-D1jd1J {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10-D1jd1J {
  top: 143px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-17-AwxXK9 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-22-AwxXK9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-23-AwxXK9 {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8-D1jd1J {
  height: 121px;
  top: 212px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-18-Ewujoc {
  background-color: transparent;
  cursor: pointer;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-24-Ewujoc {
  background-color: transparent;
  height: 57px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-15-8Ek53h {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-16-8Ek53h {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-13-8Ek53h {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 2181px;
  width: 421px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-14-8Ek53h {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 3077px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-14-copy-8Ek53h {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 3733px;
  width: 660px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-sub_-title-8Ek53h {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-title-area-8Ek53h {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-tabtablet_service-plug-in-live-view-8Ek53h {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-huRRtT {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .x3rd-depth-copy-huRRtT {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .incoming-call_-flow_m-huRRtT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 507px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .flow_-front-door-huRRtT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 807px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .flow_-back-key-huRRtT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1129px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .flow_-home-screen-huRRtT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 961px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .tab-copy-huRRtT {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .live-view_-feature_-ca-W79L25 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .live-view_-feature_-po-W79L25 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .x3rd-depth-copy-2-huRRtT {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-main-entranc-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 177px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-basic_layout-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-front-door-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-call-end-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-back-key-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-exceptional-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .lnbtablet_serviceplugin-8Ek53h {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-0eV3CQ {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .line-0eV3CQ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .home-net-gui-guidelin-0eV3CQ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup12 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup12 .web-index-title-reference-copy-2-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-Wu9aHG {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-title-reference-copy-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-copy-Wu9aHG {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-title-reference-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-copy-2-Wu9aHG {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-title-reference-copy-3-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-3-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-2-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-4-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-5-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-6-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-16-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-15-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-14-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-13-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-12-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-11-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-10-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-18-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-17-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-19-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-21-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-20-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-22-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .webgnb-8Ek53h {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-iueO7H {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .background-iueO7H {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .index-iueO7H {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-index-select-PKjyCm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-index-unselect-PKjyCm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-index-unelect_main-iueO7H {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .logo-Lbu1ZA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-3 {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-6 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8 {
  background-color: transparent;
  left: 60px;
  position: absolute;
  width: 620px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-7 {
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12 {
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-6 {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
