/* screen - tabletservicepluinliveviewfeaturebackkey */

.tabletservicepluinliveviewfeaturebackkey {
  background-color: var(--white);
  height: 5167px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebackkey .group-9-UtnlxK {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 2013px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturebackkey .group-10-UtnlxK {
  background-color: transparent;
  height: 506px;
  left: 399px;
  position: absolute;
  top: 2909px;
  width: 661px;
}

.tabletservicepluinliveviewfeaturebackkey .group-6-UtnlxK {
  background-color: transparent;
  height: 728px;
  left: 419px;
  position: absolute;
  top: 389px;
  width: 670px;
}

.tabletservicepluinliveviewfeaturebackkey .group-8-UtnlxK {
  background-color: transparent;
  height: 538px;
  left: 419px;
  position: absolute;
  top: 1267px;
  width: 642px;
}

.tabletservicepluinliveviewfeaturebackkey .group-11-UtnlxK {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 3565px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturebackkey .group-12-UtnlxK {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 4461px;
  width: 660px;
}

.tabletservicepluinliveviewfeaturebackkey .group-18-UtnlxK {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2909px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .descriptiontabletop-copy-4-QvT73p {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .group-17-QvT73p {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-15-AJMiDg {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-16-AJMiDg {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-15-AJMiDg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .group-6-copy-4-QvT73p {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-9-6kOxr0 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-14-6kOxr0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-4-6kOxr0 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .web-sub_-title-UtnlxK {
  top: 1955px;
}

.tabletservicepluinliveviewfeaturebackkey .group-20-UtnlxK {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2013px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .descriptiontabletop-copy-3-Z11aDh {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .group-19-Z11aDh {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-14-RRuxht {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-13-RRuxht {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-12-RRuxht {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .group-6-copy-3-Z11aDh {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-8-AVVEnS {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-11-AVVEnS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-3-AVVEnS {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .group-21-UtnlxK {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .descriptiontabletop-copy-xOM0Dr {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-11-xOM0Dr {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 56px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-6-xOM0Dr {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 56px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-10-xOM0Dr {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .group-14-UtnlxK {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 4461px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .descriptiontabletop-copy-7-lmuUhe {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .group-13-lmuUhe {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-18-TrHpH4 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-17-TrHpH4 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-23-TrHpH4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .group-6-copy-lmuUhe {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-6-ffXGiw {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-8-ffXGiw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-ffXGiw {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .group-16-UtnlxK {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 3565px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .descriptiontabletop-copy-6-sfWqBE {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .group-15-sfWqBE {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-17-zfV1x9 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-22-zfV1x9 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-21-zfV1x9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .group-6-copy-2-sfWqBE {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text2line_m-copy-7-ZxsPgm {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-9-ZxsPgm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebackkey .table-guide-text1line-copy-2-ZxsPgm {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebackkey .web-sub_-title-Gb5ktX {
  top: 331px;
}

.tabletservicepluinliveviewfeaturebackkey .web-title-area-UtnlxK {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebackkey .web-tabtablet_service-plug-in-live-view-UtnlxK {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebackkey .rectangle-cuGaHy {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebackkey .x3rd-depth-copy-cuGaHy {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebackkey .incoming-call_-flow_m-cuGaHy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 507px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeaturebackkey .flow_-front-door-cuGaHy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 807px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeaturebackkey .flow_-back-key-cuGaHy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1129px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeaturebackkey .flow_-home-screen-cuGaHy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 961px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeaturebackkey .tab-copy-cuGaHy {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeaturebackkey .live-view_-feature_-ca-tWM0Pu {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeaturebackkey .live-view_-feature_-po-tWM0Pu {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeaturebackkey .x3rd-depth-copy-2-cuGaHy {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebackkey .feature_-main-entranc-SHokCE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveviewfeaturebackkey .feature_-basic_layout-SHokCE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveviewfeaturebackkey .feature_-front-door-SHokCE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeaturebackkey .feature_-call-end-SHokCE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeaturebackkey .feature_-back-key-SHokCE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 111px;
}

.tabletservicepluinliveviewfeaturebackkey .feature_-exceptional-SHokCE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveviewfeaturebackkey .lnbtablet_serviceplugin-UtnlxK {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturebackkey .rectangle-YpTGgw {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturebackkey .line-YpTGgw {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeaturebackkey .home-net-gui-guidelin-YpTGgw {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup15 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup15 .web-index-title-reference-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-6glLD1 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-title-reference-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-copy-6glLD1 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-title-reference-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-copy-2-6glLD1 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-title-reference-copy-3-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-3-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-4-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-5-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-6-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-16-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-15-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-14-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-13-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-12-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-11-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-10-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-18-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-17-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-19-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-21-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-20-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-22-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeaturebackkey .webgnb-UtnlxK {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebackkey .rectangle-0RX1g8 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebackkey .background-0RX1g8 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebackkey .index-0RX1g8 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeaturebackkey .web-index-select-xqg7Mp {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeaturebackkey .web-index-unselect-xqg7Mp {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeaturebackkey .web-index-unelect_main-0RX1g8 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .logo-haQ4kI {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebackkey .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  width: 1600px;
}
