/* screen - tabletservicepluinliveviewfeaturefrontdoor */

.tabletservicepluinliveviewfeaturefrontdoor {
  background-color: var(--white);
  height: 5095px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-20-xIGxPe {
  background-color: transparent;
  height: 271px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .descriptiontabletop-copy-R67p0f {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-5-R67p0f {
  top: 123px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-PtX4PR {
  height: 37px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6-R67p0f {
  height: 59px;
  top: 212px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-12-szLiWD {
  background-color: transparent;
  height: 34px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-6-szLiWD {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 2px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-10-szLiWD {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6-CYYV06 {
  height: 57px;
  top: 56px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-6-bGYBoS {
  height: 57px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-bGYBoS {
  height: 37px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-4-xIGxPe {
  background-color: transparent;
  height: 271px;
  left: 1140px;
  position: absolute;
  top: 1285px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .descriptiontabletop-copy-4-XeaA6F {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-5-XeaA6F {
  top: 123px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-3-0i8i6l {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-13-0i8i6l {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-11-0i8i6l {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6-XeaA6F {
  height: 59px;
  top: 212px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-15-mV3gcO {
  background-color: transparent;
  height: 34px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-7-mV3gcO {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 2px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-12-mV3gcO {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6-NdEN39 {
  height: 57px;
  top: 56px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-7-9czRrj {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-14-9czRrj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-4-9czRrj {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-20-copy-2-xIGxPe {
  background-color: transparent;
  height: 271px;
  left: 1140px;
  position: absolute;
  top: 2181px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .descriptiontabletop-copy-5-wSFWAb {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-5-wSFWAb {
  top: 123px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-5-0YoFq5 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-16-0YoFq5 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-15-0YoFq5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6-wSFWAb {
  height: 59px;
  top: 212px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-17-r7x2UA {
  background-color: transparent;
  height: 34px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-16-r7x2UA {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 2px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-17-r7x2UA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6-LvPK2H {
  height: 57px;
  top: 56px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-8-Yxw9tQ {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-18-Yxw9tQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-19-Yxw9tQ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-10-xIGxPe {
  background-color: transparent;
  height: 222px;
  left: 1140px;
  position: absolute;
  top: 3077px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .descriptiontabletop-copy-2-I1DY3B {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-7-I1DY3B {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-2-stZZUw {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-14-stZZUw {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-13-stZZUw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-5-I1DY3B {
  top: 143px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-U13DwG {
  height: 57px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-3-xIGxPe {
  background-color: transparent;
  height: 222px;
  left: 1140px;
  position: absolute;
  top: 4389px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-5-copy-2-p0f8he {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 143px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-22-txMdG1 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-18-txMdG1 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-23-txMdG1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .descriptiontabletop-copy-6-p0f8he {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6-p0f8he {
  height: 77px;
  top: 56px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-9-THIyEs {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-20-THIyEs {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-21-THIyEs {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-19-xIGxPe {
  background-color: transparent;
  height: 133px;
  left: 1140px;
  position: absolute;
  top: 3733px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .descriptiontabletop-copy-3-EGKImU {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6-EGKImU {
  height: 77px;
  top: 56px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-6-06lKWb {
  height: 77px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-06lKWb {
  height: 37px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-15-xIGxPe {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-17-xIGxPe {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-11-xIGxPe {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 3077px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-13-xIGxPe {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 2181px;
  width: 421px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-9-xIGxPe {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 3733px;
  width: 660px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-8-xIGxPe {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 4389px;
  width: 660px;
}

.tabletservicepluinliveviewfeaturefrontdoor .web-sub_-title-xIGxPe {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturefrontdoor .web-title-area-xIGxPe {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturefrontdoor .web-tabtablet_service-plug-in-live-view-xIGxPe {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturefrontdoor .rectangle-65c9wB {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturefrontdoor .x3rd-depth-copy-65c9wB {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturefrontdoor .incoming-call_-flow_m-65c9wB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 507px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeaturefrontdoor .flow_-front-door-65c9wB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 807px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeaturefrontdoor .flow_-back-key-65c9wB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1129px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeaturefrontdoor .flow_-home-screen-65c9wB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 961px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeaturefrontdoor .tab-copy-65c9wB {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeaturefrontdoor .live-view_-feature_-ca-RwFYX9 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeaturefrontdoor .live-view_-feature_-po-RwFYX9 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeaturefrontdoor .x3rd-depth-copy-2-65c9wB {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturefrontdoor .feature_-main-entranc-qKNxya {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveviewfeaturefrontdoor .feature_-basic_layout-qKNxya {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveviewfeaturefrontdoor .feature_-front-door-qKNxya {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeaturefrontdoor .feature_-call-end-qKNxya {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeaturefrontdoor .feature_-back-key-qKNxya {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeaturefrontdoor .feature_-exceptional-qKNxya {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveviewfeaturefrontdoor .lnbtablet_serviceplugin-xIGxPe {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturefrontdoor .rectangle-A9xjyP {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturefrontdoor .line-A9xjyP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeaturefrontdoor .home-net-gui-guidelin-A9xjyP {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup39 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup39 .web-index-title-reference-copy-2-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .group-AQ0IEa {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-title-reference-copy-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .group-copy-AQ0IEa {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-title-reference-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .group-copy-2-AQ0IEa {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-title-reference-copy-3-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-3-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-2-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-4-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-5-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-6-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-16-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-15-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-14-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-13-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-12-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-11-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-10-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-18-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-17-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-19-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-21-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-20-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup39 .web-index-contents2dpeth-copy-22-AQ0IEa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeaturefrontdoor .webgnb-xIGxPe {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturefrontdoor .rectangle-QmZdzD {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturefrontdoor .background-QmZdzD {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturefrontdoor .index-QmZdzD {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeaturefrontdoor .web-index-select-joCoGY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeaturefrontdoor .web-index-unselect-joCoGY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeaturefrontdoor .web-index-unelect_main-QmZdzD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .logo-5oitlB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-5 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .group-6 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy {
  background-color: transparent;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text1line-copy-9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-11 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturefrontdoor .table-guide-text2line_m-copy-6 {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
