/* screen - tabletdevicefeaturecapabilities */

.tabletdevicefeaturecapabilities {
  background-color: var(--white);
  height: 1238px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicefeaturecapabilities .group-RabJpx {
  background-color: transparent;
  height: 692px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletdevicefeaturecapabilities .group-5-RabJpx {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .group-2-qRtJ5N {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-copy-eAdHdU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-eAdHdU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicefeaturecapabilities .table-guide-text2line_m-eAdHdU {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturecapabilities .group-2-copy-qRtJ5N {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-copy-Osp5Jl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-Osp5Jl {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicefeaturecapabilities .table-guide-text2line_m-Osp5Jl {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturecapabilities .descriptiontabletop-qRtJ5N {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .web-sub_-title-RabJpx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdevicefeaturecapabilities .web-title-area-RabJpx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicefeaturecapabilities .web-tabc2-c_-common-RabJpx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicefeaturecapabilities .x3rd-depth-isYCy5 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicefeaturecapabilities .tab-isYCy5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicefeaturecapabilities .card-basic-layout-geSuFL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 107px;
}

.tabletdevicefeaturecapabilities .group-3-copy-RabJpx {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 582px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .lnb-service-feature-RabJpx {
  background-color: transparent;
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicefeaturecapabilities .rectangle-OJg2J1 {
  background-color: var(--concrete);
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicefeaturecapabilities .line-OJg2J1 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicefeaturecapabilities .home-net-gui-guidelin-OJg2J1 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup .web-index-title-reference-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-cmWrxo {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-title-reference-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-cmWrxo {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-title-reference-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-2-cmWrxo {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-title-reference-copy-3-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-3-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-11-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-9-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-4-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-5-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-6-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletdevicefeaturecapabilities .webgnb-RabJpx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturecapabilities .rectangle-NjvBRP {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturecapabilities .background-NjvBRP {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturecapabilities .index-NjvBRP {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicefeaturecapabilities .web-index-select-QwSmNu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicefeaturecapabilities .web-index-unselect-QwSmNu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicefeaturecapabilities .web-index-unelect_main-NjvBRP {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturecapabilities .logo-sW0vlN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
