/* screen - tabletdevicefeaturemaindevicefeaturetoggle */

.tabletdevicefeaturemaindevicefeaturetoggle {
  background-color: var(--white);
  height: 1238px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .group-3-TKtKH8 {
  background-color: transparent;
  height: 170px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .group-5-TKtKH8 {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .group-2-4aHpBM {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-text1line-xDuCIi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-text1line-ge4qUy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-text2line_m-xDuCIi {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .descriptiontabletop-4aHpBM {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-sub_-title-TKtKH8 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-title-area-TKtKH8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-tabc2-c_-common-TKtKH8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .x3rd-depth-2VdWVL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .tab-2VdWVL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicefeaturemaindevicefeaturetoggle .status-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 40px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .toggle-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 42px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .buttons-2-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .dropdown-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 62px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .toggle-adjust-_-st-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 168px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .lnb-service-feature-TKtKH8 {
  background-color: transparent;
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-t2PMxS {
  background-color: var(--concrete);
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .line-t2PMxS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .home-net-gui-guidelin-t2PMxS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup7 {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup7 .web-index-title-reference-copy-2-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .group-zdjAZr {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-title-reference-copy-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .group-copy-zdjAZr {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-title-reference-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .group-copy-2-zdjAZr {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-title-reference-copy-3-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-contents2dpeth-copy-3-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-contents2dpeth-copy-2-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-contents2dpeth-copy-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-contents2dpeth-copy-11-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-contents2dpeth-copy-9-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-contents2dpeth-copy-4-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-contents2dpeth-copy-5-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup7 .web-index-contents2dpeth-copy-6-zdjAZr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletdevicefeaturemaindevicefeaturetoggle .webgnb-TKtKH8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-441oPd {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .background-441oPd {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .index-441oPd {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-index-select-SrAyq7 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-index-unselect-SrAyq7 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-index-unelect_main-441oPd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .logo-WhXmxO {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
