/* screen - servicepluginliveviewflowbackkey */

.servicepluginliveviewflowbackkey {
  background-color: var(--white);
  height: 1140px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewflowbackkey .group-6-UiXHgZ {
  background-color: transparent;
  height: 607px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginliveviewflowbackkey .web-title-area-UiXHgZ {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewflowbackkey .web-tab-service-plug-in_-live-view-UiXHgZ {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewflowbackkey .x3rd-depth-1l9Tws {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewflowbackkey .tab-SCHobp {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewflowbackkey .card-copy-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewflowbackkey .feature_-popup-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.servicepluginliveviewflowbackkey .flow_-main-entrance-d-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 157px;
}

.servicepluginliveviewflowbackkey .flow_-front-door-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewflowbackkey .flow_-home-screen-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewflowbackkey .flow_-back-key-copy-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.servicepluginliveviewflowbackkey .exceptional-case-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewflowbackkey .incoming-call_-push-n-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewflowbackkey .feature_-basic_-layout-JUMbZ2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewflowbackkey .x3rd-depth-copy-1l9Tws {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewflowbackkey .tab-6EGGa9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewflowbackkey .feature_-status-bGznXt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewflowbackkey .feature_-button-bGznXt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewflowbackkey .feature_-dialog-bGznXt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewflowbackkey .feature_-main-entranc-bGznXt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewflowbackkey .feature_-front-door-copy-bGznXt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewflowbackkey .feature_-call-end-copy-bGznXt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewflowbackkey .feature_-back-key-copy-bGznXt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewflowbackkey .feature_-exceptional-bGznXt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewflowbackkey .lnb-service-plug-in-UiXHgZ {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .rectangle-iwmM3A {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .lnb-iwmM3A {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .stacked-group-uLhSxV {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-title-common-copy-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents1dpeth_close-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents1dpeth_close-ifLcpW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents1dpeth_close-xxiN4J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents1dpeth_close-4rXBv3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents1dpeth_close-dExL2S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .group-copy-PL0tKO {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .empty-copy-jWz5sj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .line-copy-2-jWz5sj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewflowbackkey .empty-copy-2-jWz5sj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-title-common-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents1dpeth_close-ajyyqa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents1dpeth_open_selected-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-copy-2-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-ifLcpW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-xxiN4J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-4rXBv3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-dExL2S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-ajyyqa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-zAY86h {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-mx8VgI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-MP9vgj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-copy-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-copy-3-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-contents2dpeth-Lp3KFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .group-PL0tKO {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .empty-kENLYN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .line-copy-kENLYN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewflowbackkey .empty-kFUdW5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-title-common-ifLcpW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .group-copy-2-PL0tKO {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .empty-2hGq4U {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .line-copy-2hGq4U {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewflowbackkey .empty-jWDjhD {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewflowbackkey .web-index-title-common-copy-2-PL0tKO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewflowbackkey .line-uLhSxV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewflowbackkey .home-net-gui-guidelin-uLhSxV {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewflowbackkey .webgnb-UiXHgZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewflowbackkey .rectangle-F6QEUE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewflowbackkey .background-F6QEUE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewflowbackkey .index-F6QEUE {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewflowbackkey .web-index-select-kzqdqS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewflowbackkey .web-index-unselect-kzqdqS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewflowbackkey .web-index-unelect_main-F6QEUE {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginliveviewflowbackkey .logo-kbN1d5 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
