/* screen - servicepluginhomeex */

.servicepluginhomeex {
  background-color: var(--white);
  height: 2422px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomeex .group-17-ddbp1K {
  background-color: transparent;
  height: 252px;
  left: 349px;
  position: absolute;
  top: 1961px;
  width: 741px;
}

.servicepluginhomeex .group-18-ddbp1K {
  background-color: transparent;
  height: 186px;
  left: 1140px;
  position: absolute;
  top: 1961px;
  width: 680px;
}

.servicepluginhomeex .group-21-ddbp1K {
  background-color: transparent;
  height: 327px;
  left: 349px;
  position: absolute;
  top: 1484px;
  width: 1471px;
}

.servicepluginhomeex .group-13-ddbp1K {
  background-color: transparent;
  height: 938px;
  left: 420px;
  position: absolute;
  top: 396px;
  width: 670px;
}

.servicepluginhomeex .group-9-ddbp1K {
  background-color: transparent;
  height: 398px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomeex .group-3-xLv7Fa {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeex .table-guide-text1line-copy-iDb7pU {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeex .table-guide-text2line_b-copy-2-iDb7pU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeex .table-guide-text1line-iDb7pU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeex .group-7-xLv7Fa {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginhomeex .group-12-tb5wgW {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomeex .table-guide-text2line_m-FzxU1V {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeex .table-guide-text2line_b-copy-FzxU1V {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeex .table-guide-text1line-copy-3-FzxU1V {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeex .group-7-copy-3-xLv7Fa {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 232px;
  width: 680px;
}

.servicepluginhomeex .group-12-gFzvxA {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomeex .table-guide-text2line_m-copy-2-8ccxLb {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeex .table-guide-text2line_b-copy-4-8ccxLb {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeex .table-guide-text1line-copy-5-8ccxLb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeex .group-4-xLv7Fa {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 319px;
  width: 680px;
}

.servicepluginhomeex .table-guide-text1line-copy-4-2YcxCG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeex .table-guide-text2line_m-copy-2YcxCG {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeex .table-guide-text2line_b-copy-4-2YcxCG {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeex .descriptiontabletop-xLv7Fa {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomeex .web-sub_-title-ddbp1K {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomeex .web-title-area-ddbp1K {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomeex .web-tab-service-plug-in_-home-screen-ddbp1K {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomeex .x3rd-depth-3mAOtx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomeex .tab-Fckapg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomeex .default-type-N9IPkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 78px;
}

.servicepluginhomeex .shortcut-default-t-N9IPkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomeex .brand-type-N9IPkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeex .shortcut-brand-typ-N9IPkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomeex .banner-N9IPkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomeex .app-link-copy-N9IPkj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomeex .x3rd-depth-k3GcnA {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomeex .tab-4D7UlH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomeex .more-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.servicepluginhomeex .edit-_-feature-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.servicepluginhomeex .notifications-_-feat-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomeex .help-guide-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.servicepluginhomeex .help-guide-_-expanda-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 179px;
}

.servicepluginhomeex .help-guide-_-image-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 120px;
}

.servicepluginhomeex .service-feature-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomeex .service-feature-_-no-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomeex .touch-area-jtUMcB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeex .lnb-service-plug-in-ddbp1K {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeex .rectangle-NYEsiV {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeex .lnb-NYEsiV {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeex .stacked-group-wSjtOM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomeex .web-index-title-common-copy-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents1dpeth_close-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents1dpeth_close-sGB5D7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents1dpeth_close-I8mb1I {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents1dpeth_close-CjQsRP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents1dpeth_close-50L50v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .group-copy-hbjldf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .empty-copy-ppXFTe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeex .line-copy-2-ppXFTe {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeex .empty-copy-2-ppXFTe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeex .web-index-title-common-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents1dpeth_close-HvxgEu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents1dpeth_open_selected-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-copy-2-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-sGB5D7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-I8mb1I {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-CjQsRP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-50L50v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-HvxgEu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-fEuwto {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-0mqFfb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-eL0TNx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-copy-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-copy-3-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .web-index-contents2dpeth-6Fi8WD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .group-hbjldf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .empty-MVmxgE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeex .line-copy-MVmxgE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeex .empty-4kfiLl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeex .web-index-title-common-sGB5D7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .group-copy-2-hbjldf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .empty-JgOLNG {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeex .line-copy-JgOLNG {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeex .empty-DXPSc8 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeex .web-index-title-common-copy-2-hbjldf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeex .line-wSjtOM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomeex .home-net-gui-guidelin-wSjtOM {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomeex .webgnb-ddbp1K {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeex .rectangle-SclWpi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeex .background-SclWpi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeex .index-SclWpi {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomeex .web-index-select-itXKIb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomeex .web-index-unselect-itXKIb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomeex .web-index-unelect_main-SclWpi {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginhomeex .logo-Aw4dWz {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginhomeex .rectangle-ddbp1K {
  background-color: transparent;
  height: 2422px;
  left: 0px;
  opacity: 0.45;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeex .image-ddbp1K {
  background-color: transparent;
  height: 120px;
  left: 774px;
  position: absolute;
  top: 1151px;
  width: 373px;
}
