/* screen - servicepluginliveviewcard */

.servicepluginliveviewcard {
  background-color: var(--white);
  height: 2026px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewcard .group-12-oZNw8b {
  background-color: transparent;
  height: 686px;
  left: 380px;
  position: absolute;
  top: 1140px;
  width: 710px;
}

.servicepluginliveviewcard .group-5-oZNw8b {
  background-color: transparent;
  height: 463px;
  left: 380px;
  position: absolute;
  top: 396px;
  width: 710px;
}

.servicepluginliveviewcard .group-24-oZNw8b {
  background-color: transparent;
  height: 449px;
  left: 1140px;
  position: absolute;
  top: 1140px;
  width: 680px;
}

.servicepluginliveviewcard .group-20-oZNw8b {
  background-color: transparent;
  height: 293px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginliveviewcard .group-19-Hi8E5v {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewcard .table-guide-text2line_m-copy-ETK9ds {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewcard .table-guide-text1line-ETK9ds {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewcard .table-guide-text2line_m-ETK9ds {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewcard .group-18-Hi8E5v {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.servicepluginliveviewcard .table-guide-text2line_m-copy-5-VxxcB9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewcard .table-guide-text1line-copy-2-VxxcB9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewcard .table-guide-text2line_m-copy-4-VxxcB9 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewcard .group-17-Hi8E5v {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.servicepluginliveviewcard .table-guide-text1line-copy-lQ55QO {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewcard .table-guide-text2line_m-copy-2-lQ55QO {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewcard .table-guide-text2line_m-copy-11-lQ55QO {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewcard .descriptiontabletop-Hi8E5v {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewcard .group-3-oZNw8b {
  background-color: transparent;
  height: 201px;
  left: 1140px;
  position: absolute;
  top: 789px;
  width: 680px;
}

.servicepluginliveviewcard .web-sub_-title-oZNw8b {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginliveviewcard .web-title-area-oZNw8b {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewcard .web-tab-service-plug-in_-live-view-oZNw8b {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewcard .x3rd-depth-WUn2j6 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewcard .tab-hzNpXx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewcard .card-copy-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewcard .feature_-popup-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.servicepluginliveviewcard .flow_-main-entrance-d-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 157px;
}

.servicepluginliveviewcard .flow_-front-door-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewcard .flow_-home-screen-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewcard .flow_-back-key-copy-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewcard .exceptional-case-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewcard .incoming-call_-push-n-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewcard .feature_-basic_-layout-xuKoYj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewcard .x3rd-depth-copy-WUn2j6 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewcard .tab-b4RaRF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewcard .feature_-status-31Jgv1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewcard .feature_-button-31Jgv1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewcard .feature_-dialog-31Jgv1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewcard .feature_-main-entranc-31Jgv1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewcard .feature_-front-door-copy-31Jgv1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewcard .feature_-call-end-copy-31Jgv1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewcard .feature_-back-key-copy-31Jgv1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewcard .feature_-exceptional-31Jgv1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewcard .lnb-service-plug-in-oZNw8b {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewcard .rectangle-SattPc {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewcard .lnb-SattPc {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewcard .stacked-group-d3NfL9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewcard .web-index-title-common-copy-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents1dpeth_close-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents1dpeth_close-vVEzx6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents1dpeth_close-Q0yixr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents1dpeth_close-PyqvD2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents1dpeth_close-mdyDeX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .group-copy-nUsMiJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .empty-copy-6NgMGk {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewcard .line-copy-2-6NgMGk {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewcard .empty-copy-2-6NgMGk {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewcard .web-index-title-common-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents1dpeth_close-xTcxTL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents1dpeth_open_selected-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-copy-2-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-vVEzx6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-Q0yixr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-PyqvD2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-mdyDeX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-xTcxTL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-xaMtHx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-pW5gZ9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-8xKOpv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-copy-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-copy-3-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .web-index-contents2dpeth-6axhNB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .group-nUsMiJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .empty-izxSKQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewcard .line-copy-izxSKQ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewcard .empty-sXPzOZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewcard .web-index-title-common-vVEzx6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .group-copy-2-nUsMiJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .empty-zxcP0b {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewcard .line-copy-zxcP0b {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewcard .empty-0HYaIR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewcard .web-index-title-common-copy-2-nUsMiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewcard .line-d3NfL9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewcard .home-net-gui-guidelin-d3NfL9 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewcard .webgnb-oZNw8b {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewcard .rectangle-0Bj5Xm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewcard .background-0Bj5Xm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewcard .index-0Bj5Xm {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewcard .web-index-select-NzI2Lt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewcard .web-index-unselect-NzI2Lt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewcard .web-index-unelect_main-0Bj5Xm {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginliveviewcard .logo-i0lr1h {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
