/* screen - servicepluginliveviewfeatureexceptionalcase */

.servicepluginliveviewfeatureexceptionalcase {
  background-color: var(--white);
  height: 2332px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewfeatureexceptionalcase .group-13-Dxd4AR {
  background-color: transparent;
  height: 748px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginliveviewfeatureexceptionalcase .group-9-copy-Dxd4AR {
  background-color: transparent;
  height: 704px;
  left: 380px;
  position: absolute;
  top: 1342px;
  width: 710px;
}

.servicepluginliveviewfeatureexceptionalcase .web-sub_-title-Dxd4AR {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .group-15-copy-Dxd4AR {
  background-color: transparent;
  height: 574px;
  left: 1140px;
  position: absolute;
  top: 1342px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .group-13-copy-Dxd4AR {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 2016px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .group-21-Dxd4AR {
  background-color: transparent;
  height: 334px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .group-19-RCpAgy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-M1bpkG {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-M1bpkG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-M1bpkG {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .group-20-RCpAgy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-4-sNXOqt {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-sNXOqt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-2-sNXOqt {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .group-17-RCpAgy {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-6-Q9bKtT {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-3-Q9bKtT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-5-Q9bKtT {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .group-18-RCpAgy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 277px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-9-23tLte {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-4-23tLte {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-8-23tLte {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .descriptiontabletop-RCpAgy {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .web-title-area-Dxd4AR {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .web-tab-service-plug-in_-live-view-Dxd4AR {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .x3rd-depth-apVZYF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .tab-Rzi6Kd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeatureexceptionalcase .card-copy-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-popup-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeatureexceptionalcase .flow_-main-entrance-d-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 157px;
}

.servicepluginliveviewfeatureexceptionalcase .flow_-front-door-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewfeatureexceptionalcase .flow_-home-screen-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewfeatureexceptionalcase .flow_-back-key-copy-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewfeatureexceptionalcase .exceptional-case-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeatureexceptionalcase .incoming-call_-push-n-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-basic_-layout-F2BMhI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewfeatureexceptionalcase .x3rd-depth-copy-apVZYF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .tab-zYzIx6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-status-1xFdhA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-button-1xFdhA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-dialog-1xFdhA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-main-entranc-1xFdhA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-front-door-copy-1xFdhA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-call-end-copy-1xFdhA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-back-key-copy-1xFdhA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-exceptional-1xFdhA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 164px;
}

.servicepluginliveviewfeatureexceptionalcase .lnb-service-plug-in-Dxd4AR {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-NA7yk8 {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .lnb-NA7yk8 {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .stacked-group-lNBCOM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-title-common-copy-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents1dpeth_close-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents1dpeth_close-CSgtp4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents1dpeth_close-wx3Phk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents1dpeth_close-iCMPvT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents1dpeth_close-pNxgoH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .group-copy-CGZDk7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-copy-8GgBAH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .line-copy-2-8GgBAH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-copy-2-8GgBAH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-title-common-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents1dpeth_close-rIfXxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents1dpeth_open_selected-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-copy-2-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-CSgtp4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-wx3Phk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-iCMPvT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-pNxgoH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-rIfXxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-jxUFrb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-ZTLJvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-aVnUOF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-copy-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-copy-3-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-M4fNAX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .group-CGZDk7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-0DbcvF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .line-copy-0DbcvF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-2YBf9a {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-title-common-CSgtp4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .group-copy-2-CGZDk7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-Npl0vq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .line-copy-Npl0vq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-FffTxH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-title-common-copy-2-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .line-lNBCOM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewfeatureexceptionalcase .home-net-gui-guidelin-lNBCOM {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewfeatureexceptionalcase .webgnb-Dxd4AR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-iHnFxL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeatureexceptionalcase .background-iHnFxL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeatureexceptionalcase .index-iHnFxL {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-select-IsJY4v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-unselect-IsJY4v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-unelect_main-iHnFxL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginliveviewfeatureexceptionalcase .logo-D9utPW {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
