/* screen - servicepluginliveviewfeaturemainentrancedoor */

.servicepluginliveviewfeaturemainentrancedoor {
  background-color: var(--white);
  height: 2398px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-21-U4ssY3 {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 1452px;
  width: 690px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-20-U4ssY3 {
  background-color: transparent;
  height: 906px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-14-U4ssY3 {
  background-color: transparent;
  height: 467px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-12-WmoVOw {
  background-color: transparent;
  height: 143px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-13-WmoVOw {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-qxKnkI {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturemainentrancedoor .table-guide-text1line-qxKnkI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturemainentrancedoor .table-guide-text2line_m-qxKnkI {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturemainentrancedoor .descriptiontabletop-WmoVOw {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-11-WmoVOw {
  background-color: transparent;
  height: 152px;
  left: 40px;
  position: absolute;
  top: 315px;
  width: 221px;
}

.servicepluginliveviewfeaturemainentrancedoor .icabc-copy-3-Fyhvbj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 20px;
}

.servicepluginliveviewfeaturemainentrancedoor .rectangle-nYg0ok {
  background-color: #333333;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}

.servicepluginliveviewfeaturemainentrancedoor .number-nYg0ok {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.servicepluginliveviewfeaturemainentrancedoor .illst-visitor-Fyhvbj {
  background-color: transparent;
  height: 150px;
  left: 20px;
  position: absolute;
  top: 1px;
  width: 200px;
}

.servicepluginliveviewfeaturemainentrancedoor .rectangle-copy-Fyhvbj {
  background-color: transparent;
  height: 152px;
  left: 19px;
  position: absolute;
  top: -0px;
  width: 202px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-10-U4ssY3 {
  background-color: transparent;
  height: 476px;
  left: 1140px;
  position: absolute;
  top: 1452px;
  width: 680px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-7-axxBnW {
  background-color: transparent;
  height: 172px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-9-axxBnW {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-NpV5C7 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturemainentrancedoor .table-guide-text1line-NpV5C7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturemainentrancedoor .table-guide-text2line_m-NpV5C7 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturemainentrancedoor .descriptiontabletop-axxBnW {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-8-axxBnW {
  background-color: transparent;
  height: 152px;
  left: 40px;
  position: absolute;
  top: 324px;
  width: 221px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-sub_-title-U4ssY3 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-title-area-U4ssY3 {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-tab-service-plug-in_-live-view-U4ssY3 {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewfeaturemainentrancedoor .x3rd-depth-VEJuG0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewfeaturemainentrancedoor .tab-eWRA2T {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeaturemainentrancedoor .card-copy-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-popup-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeaturemainentrancedoor .flow_-main-entrance-d-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 157px;
}

.servicepluginliveviewfeaturemainentrancedoor .flow_-front-door-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewfeaturemainentrancedoor .flow_-home-screen-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewfeaturemainentrancedoor .flow_-back-key-copy-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewfeaturemainentrancedoor .exceptional-case-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeaturemainentrancedoor .incoming-call_-push-n-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-basic_-layout-xWlJtR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewfeaturemainentrancedoor .x3rd-depth-copy-VEJuG0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewfeaturemainentrancedoor .tab-dQbqbx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-status-ZwLltp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-button-ZwLltp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-dialog-ZwLltp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-main-entranc-ZwLltp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 177px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-front-door-copy-ZwLltp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-call-end-copy-ZwLltp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-back-key-copy-ZwLltp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewfeaturemainentrancedoor .feature_-exceptional-ZwLltp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewfeaturemainentrancedoor .lnb-service-plug-in-U4ssY3 {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .rectangle-QFn6g4 {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .lnb-QFn6g4 {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .stacked-group-bitRmL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-title-common-copy-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents1dpeth_close-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents1dpeth_close-6zVKtk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents1dpeth_close-mHatpS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents1dpeth_close-8GyTEv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents1dpeth_close-ljfx2c {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-copy-GMvssc {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .empty-copy-yQMr8F {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .line-copy-2-yQMr8F {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturemainentrancedoor .empty-copy-2-yQMr8F {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-title-common-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents1dpeth_close-ndoH7u {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents1dpeth_open_selected-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-copy-2-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-6zVKtk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-mHatpS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-8GyTEv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-ljfx2c {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-ndoH7u {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-meFz3T {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-fbxLz8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-2XRhfx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-copy-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-copy-3-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-contents2dpeth-QnugUd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-GMvssc {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .empty-D4DxDN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .line-copy-D4DxDN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturemainentrancedoor .empty-iDLq9B {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-title-common-6zVKtk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .group-copy-2-GMvssc {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .empty-y9YUN3 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .line-copy-y9YUN3 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturemainentrancedoor .empty-CJOAu1 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-title-common-copy-2-GMvssc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturemainentrancedoor .line-bitRmL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewfeaturemainentrancedoor .home-net-gui-guidelin-bitRmL {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewfeaturemainentrancedoor .webgnb-U4ssY3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturemainentrancedoor .rectangle-64Bw8z {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturemainentrancedoor .background-64Bw8z {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturemainentrancedoor .index-64Bw8z {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-select-4yoLjZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-unselect-4yoLjZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewfeaturemainentrancedoor .web-index-unelect_main-64Bw8z {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginliveviewfeaturemainentrancedoor .logo-mPqDHj {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
