/* screen - servicepluginliveviewfeaturedialog */

.servicepluginliveviewfeaturedialog {
  background-color: var(--white);
  height: 1367px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewfeaturedialog .group-6-PPWLMx {
  background-color: transparent;
  height: 829px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .web-title-area-PPWLMx {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .web-tab-service-plug-in_-live-view-PPWLMx {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .x3rd-depth-t424OK {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .tab-eiGT3E {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeaturedialog .card-copy-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewfeaturedialog .feature_-popup-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeaturedialog .flow_-main-entrance-d-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 157px;
}

.servicepluginliveviewfeaturedialog .flow_-front-door-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewfeaturedialog .flow_-home-screen-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewfeaturedialog .flow_-back-key-copy-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewfeaturedialog .exceptional-case-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeaturedialog .incoming-call_-push-n-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewfeaturedialog .feature_-basic_-layout-0OHBnU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewfeaturedialog .x3rd-depth-copy-t424OK {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .tab-F8QWLI {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeaturedialog .feature_-status-ezKo87 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeaturedialog .feature_-button-ezKo87 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewfeaturedialog .feature_-dialog-ezKo87 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewfeaturedialog .feature_-main-entranc-ezKo87 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewfeaturedialog .feature_-front-door-copy-ezKo87 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewfeaturedialog .feature_-call-end-copy-ezKo87 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeaturedialog .feature_-back-key-copy-ezKo87 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewfeaturedialog .feature_-exceptional-ezKo87 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewfeaturedialog .lnb-service-plug-in-PPWLMx {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .rectangle-G17YRb {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .lnb-G17YRb {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .stacked-group-0B88MB {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-title-common-copy-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents1dpeth_close-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents1dpeth_close-5SEK6W {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents1dpeth_close-P1PDF0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents1dpeth_close-TOXndm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents1dpeth_close-xHKnrk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .group-copy-zyqzmB {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .empty-copy-TcCL9A {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .line-copy-2-TcCL9A {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturedialog .empty-copy-2-TcCL9A {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-title-common-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents1dpeth_close-QxygLp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents1dpeth_open_selected-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-copy-2-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-5SEK6W {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-P1PDF0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-TOXndm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-xHKnrk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-QxygLp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-P2fRFl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-x6HOWE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-Q0jvfy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-copy-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-copy-3-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-ACcVRY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .group-zyqzmB {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .empty-ut4A77 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .line-copy-ut4A77 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturedialog .empty-qyZPyU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-title-common-5SEK6W {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .group-copy-2-zyqzmB {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .empty-ZM08C0 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .line-copy-ZM08C0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturedialog .empty-45rqJI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-title-common-copy-2-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .line-0B88MB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewfeaturedialog .home-net-gui-guidelin-0B88MB {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewfeaturedialog .webgnb-PPWLMx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturedialog .rectangle-h1a26C {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturedialog .background-h1a26C {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturedialog .index-h1a26C {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewfeaturedialog .web-index-select-mELeMp {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewfeaturedialog .web-index-unselect-mELeMp {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewfeaturedialog .web-index-unelect_main-h1a26C {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginliveviewfeaturedialog .logo-9xvMiv {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
