/* screen - tabletbasiccomponentsbasicservicelayout */

.tabletbasiccomponentsbasicservicelayout {
  background-color: var(--white);
  height: 7045px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletbasiccomponentsbasicservicelayout .group-25-pXMCfl {
  background-color: transparent;
  height: 475px;
  left: 380px;
  position: absolute;
  top: 6370px;
  width: 710px;
}

.tabletbasiccomponentsbasicservicelayout .group-23-pXMCfl {
  background-color: transparent;
  height: 586px;
  left: 420px;
  position: absolute;
  top: 5684px;
  width: 432px;
}

.tabletbasiccomponentsbasicservicelayout .group-17-pXMCfl {
  background-color: transparent;
  height: 507px;
  left: 380px;
  position: absolute;
  top: 3731px;
  width: 710px;
}

.tabletbasiccomponentsbasicservicelayout .group-15-pXMCfl {
  background-color: transparent;
  height: 538px;
  left: 380px;
  position: absolute;
  top: 3043px;
  width: 710px;
}

.tabletbasiccomponentsbasicservicelayout .group-8-pXMCfl {
  background-color: transparent;
  height: 777px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletbasiccomponentsbasicservicelayout .group-11-pXMCfl {
  background-color: transparent;
  height: 778px;
  left: 380px;
  position: absolute;
  top: 1269px;
  width: 710px;
}

.tabletbasiccomponentsbasicservicelayout .group-19-pXMCfl {
  background-color: transparent;
  height: 538px;
  left: 380px;
  position: absolute;
  top: 4337px;
  width: 681px;
}

.tabletbasiccomponentsbasicservicelayout .group-21-pXMCfl {
  background-color: transparent;
  height: 559px;
  left: 381px;
  position: absolute;
  top: 5025px;
  width: 709px;
}

.tabletbasiccomponentsbasicservicelayout .group-12-pXMCfl {
  background-color: transparent;
  height: 747px;
  left: 419px;
  position: absolute;
  top: 2147px;
  width: 402px;
}

.tabletbasiccomponentsbasicservicelayout .web-sub_-title-pXMCfl {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletbasiccomponentsbasicservicelayout .group-30-pXMCfl {
  background-color: transparent;
  height: 338px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-14-B5M8m5 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-XuvLd3 {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-XuvLd3 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-9pD8xC {
  height: 37px;
  left: 410px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-B5M8m5 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-8-AAtRZg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-AAtRZg {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-9-AAtRZg {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-2-B5M8m5 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-10-xHy7vC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-2-xHy7vC {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-11-xHy7vC {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-title-B5M8m5 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-5-B5M8m5 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 281px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-dylrDv {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-YCpn1F {
  cursor: pointer;
  height: 57px;
  left: 60px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-xwxb3g {
  height: 37px;
  left: 410px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-9-pXMCfl {
  background-color: transparent;
  height: 251px;
  left: 1140px;
  position: absolute;
  top: 1269px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-14-copy-1RFaJg {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-4-cSQFkp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-5-cSQFkp {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-5-cSQFkp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-4-1RFaJg {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-14-kArYe7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-4-kArYe7 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-15-kArYe7 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-3-1RFaJg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-12-ecpAZK {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-3-ecpAZK {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-13-ecpAZK {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-title-copy-3-1RFaJg {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-26-pXMCfl {
  background-color: transparent;
  height: 162px;
  left: 1140px;
  position: absolute;
  top: 2147px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-5-copy-VjB9eG {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-T7ZLHh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-2-T7ZLHh {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-3-T7ZLHh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-11-VjB9eG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-39-i248xg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-14-i248xg {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-40-i248xg {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-title-copy-13-VjB9eG {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-28-pXMCfl {
  background-color: transparent;
  height: 298px;
  left: 1140px;
  position: absolute;
  top: 3731px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-14-copy-2-bxvNwG {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-25-iKiNKv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-10-iKiNKv {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-26-iKiNKv {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-5-copy-2-bxvNwG {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 261px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-6-xQRmNf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-7-xQRmNf {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-24-xQRmNf {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-8-bxvNwG {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-22-qfFL8l {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-9-qfFL8l {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-23-qfFL8l {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-7-bxvNwG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-20-aDiF2y {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-8-aDiF2y {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-21-aDiF2y {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-title-copy-8-bxvNwG {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-27-pXMCfl {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 4337px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-5-copy-5-TveGwp {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-43-9x4jNI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-44-9x4jNI {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-45-9x4jNI {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-12-TveGwp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-41-yVz094 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-15-yVz094 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-42-yVz094 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-title-copy-14-TveGwp {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-6-pXMCfl {
  background-color: transparent;
  height: 405px;
  left: 1140px;
  position: absolute;
  top: 5025px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-14-copy-3-kmuSEc {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-34-lrosd1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-13-lrosd1 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-35-lrosd1 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-5-copy-3-kmuSEc {
  top: 281px;
}

.tabletbasiccomponentsbasicservicelayout .group-5-copy-4-kmuSEc {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 348px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-36-U9E1XF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-37-U9E1XF {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-38-U9E1XF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-10-kmuSEc {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-29-xyaKnT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-12-xyaKnT {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-30-xyaKnT {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-9-kmuSEc {
  height: 57px;
  top: 214px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-11-ZZyj4R {
  height: 57px;
}

.tabletbasiccomponentsbasicservicelayout .group-6-copy-pXMCfl {
  background-color: transparent;
  height: 200px;
  left: 1140px;
  position: absolute;
  top: 6370px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-5-copy-3-0rOHcC {
  top: 143px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-9-0rOHcC {
  height: 77px;
  top: 56px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-11-Nm50qF {
  height: 77px;
}

.tabletbasiccomponentsbasicservicelayout .group-29-pXMCfl {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 3043px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-6-PxZwOc {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-18-OBsGR1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-7-OBsGR1 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-19-OBsGR1 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-5-PxZwOc {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-16-i3NU5l {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-6-i3NU5l {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-17-i3NU5l {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-title-copy-5-PxZwOc {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .web-title-area-pXMCfl {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletbasiccomponentsbasicservicelayout .web-tabc2-c_-overview-pXMCfl {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletbasiccomponentsbasicservicelayout .x3rd-depth-Uq07t6 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletbasiccomponentsbasicservicelayout .tab-Uq07t6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletbasiccomponentsbasicservicelayout .layout_-basic-grid_-de-kiYEuk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 188px;
}

.tabletbasiccomponentsbasicservicelayout .layout_-basic-grid_-se-kiYEuk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 209px;
}

.tabletbasiccomponentsbasicservicelayout .lnb-service-feature-pXMCfl {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletbasiccomponentsbasicservicelayout .rectangle-vDutFe {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.tabletbasiccomponentsbasicservicelayout .line-vDutFe {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletbasiccomponentsbasicservicelayout .home-net-gui-guidelin-vDutFe {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup3 .web-index-title-reference-copy-2-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-xPfwq5 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-title-reference-copy-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-copy-xPfwq5 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-title-reference-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-copy-2-xPfwq5 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-title-reference-copy-3-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-3-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-2-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-8-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-7-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-9-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-10-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-11-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-4-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-5-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-6-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletbasiccomponentsbasicservicelayout .webgnb-pXMCfl {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentsbasicservicelayout .rectangle-x56Oqa {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletbasiccomponentsbasicservicelayout .background-x56Oqa {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentsbasicservicelayout .index-x56Oqa {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletbasiccomponentsbasicservicelayout .web-index-select-NcexJF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletbasiccomponentsbasicservicelayout .web-index-unselect-NcexJF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletbasiccomponentsbasicservicelayout .web-index-unelect_main-x56Oqa {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .logo-2d5qUB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .group-4-copy-9 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .group-5-copy-3 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-27 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-28 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-31 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-32 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line-copy-33 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-text1line_mint-copy-11 {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicservicelayout .table-guide-title-copy-11 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}
