/* screen - tabletbasiccomponentstab */

.tabletbasiccomponentstab {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletbasiccomponentstab .group-4-pdK4h4 {
  background-color: transparent;
  height: 194px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletbasiccomponentstab .group-jSodpc {
  background-color: transparent;
  height: 88px;
  left: 0px;
  position: absolute;
  top: 105px;
  width: 440px;
}

.tabletbasiccomponentstab .table-guide-title-copy-8-jSodpc {
  background-color: transparent;
  height: 56px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 670px;
}

.tabletbasiccomponentstab .group-3-pdK4h4 {
  background-color: transparent;
  height: 209px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletbasiccomponentstab .group-14-2vFziH {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentstab .table-guide-text1line-06ihPX {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletbasiccomponentstab .table-guide-text1line_mint-06ihPX {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentstab .table-guide-text1line-kxx1dx {
  height: 57px;
  left: 410px;
  width: 270px;
}

.tabletbasiccomponentstab .group-2-2vFziH {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.tabletbasiccomponentstab .table-guide-text1line-copy-8-5k8325 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentstab .table-guide-text1line_mint-copy-5k8325 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentstab .table-guide-text1line_mint-copy-2-5k8325 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 340px;
}

.tabletbasiccomponentstab .table-guide-text1line-copy-9-5k8325 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentstab .table-guide-title-2vFziH {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletbasiccomponentstab .web-sub_-title-pdK4h4 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletbasiccomponentstab .web-title-area-pdK4h4 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletbasiccomponentstab .web-tabc2-c_-overview-pdK4h4 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletbasiccomponentstab .x3rd-depth-Q5IINL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletbasiccomponentstab .tab-Q5IINL {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletbasiccomponentstab .tab-63TkCN {
  cursor: pointer;
  margin: 0;
  position: relative;
  width: 22px;
}

.tabletbasiccomponentstab .lnb-service-feature-pdK4h4 {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletbasiccomponentstab .rectangle-7DGfnV {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.tabletbasiccomponentstab .line-7DGfnV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletbasiccomponentstab .home-net-gui-guidelin-7DGfnV {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup .web-index-title-reference-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-cmWrxo {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-title-reference-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-cmWrxo {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-title-reference-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-2-cmWrxo {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-title-reference-copy-3-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-3-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-8-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-7-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-9-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-10-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-11-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-4-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-5-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-6-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletbasiccomponentstab .webgnb-pdK4h4 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentstab .rectangle-j9Dul6 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletbasiccomponentstab .background-j9Dul6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentstab .index-j9Dul6 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletbasiccomponentstab .web-index-select-ZMf33S {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletbasiccomponentstab .web-index-unselect-ZMf33S {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletbasiccomponentstab .web-index-unelect_main-j9Dul6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentstab .logo-YCsXaD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentstab .tab {
  background-color: transparent;
  height: 17px;
}

.tabletbasiccomponentstab .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}
