/* screen - tabletbasiccomponentsbasicdevice */

.tabletbasiccomponentsbasicdevice {
  background-color: var(--white);
  height: 4018px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletbasiccomponentsbasicdevice .group-18-rfEq6R {
  background-color: transparent;
  height: 475px;
  left: 380px;
  position: absolute;
  top: 3343px;
  width: 710px;
}

.tabletbasiccomponentsbasicdevice .group-15-rfEq6R {
  background-color: transparent;
  height: 1235px;
  left: 380px;
  position: absolute;
  top: 1958px;
  width: 710px;
}

.tabletbasiccomponentsbasicdevice .group-16-rfEq6R {
  background-color: transparent;
  height: 538px;
  left: 380px;
  position: absolute;
  top: 1270px;
  width: 710px;
}

.tabletbasiccomponentsbasicdevice .group-17-rfEq6R {
  background-color: transparent;
  height: 778px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletbasiccomponentsbasicdevice .group-14-rfEq6R {
  background-color: transparent;
  height: 79px;
  left: 1140px;
  position: absolute;
  top: 398px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-yHBEvm {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-yHBEvm {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-wZSrVE {
  height: 37px;
  left: 410px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-5-rfEq6R {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 625px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-TGXzLm {
  height: 37px;
  left: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-wKmkyR {
  cursor: pointer;
  height: 57px;
  left: 60px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-KxHPrc {
  height: 37px;
  left: 410px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-4-copy-rfEq6R {
  background-color: transparent;
  height: 59px;
  left: 1140px;
  position: absolute;
  top: 487px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-8-VufOGI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-VufOGI {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-9-VufOGI {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-4-copy-2-rfEq6R {
  background-color: transparent;
  height: 59px;
  left: 1140px;
  position: absolute;
  top: 556px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-10-LsVjIM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-2-LsVjIM {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-11-LsVjIM {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .table-guide-title-rfEq6R {
  background-color: transparent;
  height: 56px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .group-14-copy-rfEq6R {
  background-color: transparent;
  height: 79px;
  left: 1140px;
  position: absolute;
  top: 1326px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-4-YzoRlt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-5-YzoRlt {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-5-YzoRlt {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-5-copy-rfEq6R {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 1553px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-vWgAxd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-2-vWgAxd {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-3-vWgAxd {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-4-copy-4-rfEq6R {
  background-color: transparent;
  height: 59px;
  left: 1140px;
  position: absolute;
  top: 1415px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-14-NXxFnJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-4-NXxFnJ {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-15-NXxFnJ {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-4-copy-3-rfEq6R {
  background-color: transparent;
  height: 59px;
  left: 1140px;
  position: absolute;
  top: 1484px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-12-txLm6h {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-3-txLm6h {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-13-txLm6h {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .table-guide-title-copy-rfEq6R {
  background-color: transparent;
  height: 56px;
  left: 1140px;
  position: absolute;
  top: 1270px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .group-14-copy-2-rfEq6R {
  background-color: transparent;
  height: 79px;
  left: 1140px;
  position: absolute;
  top: 2014px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-21-AoXEnn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-8-AoXEnn {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-22-AoXEnn {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-5-copy-2-rfEq6R {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 2241px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-6-6j3KKq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-7-6j3KKq {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-20-6j3KKq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-5-copy-3-rfEq6R {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 2308px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-23-ryoiDW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-24-ryoiDW {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-25-ryoiDW {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-4-copy-6-rfEq6R {
  background-color: transparent;
  height: 59px;
  left: 1140px;
  position: absolute;
  top: 2103px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-18-SxoxrE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-7-SxoxrE {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-19-SxoxrE {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-4-copy-5-rfEq6R {
  background-color: transparent;
  height: 59px;
  left: 1140px;
  position: absolute;
  top: 2172px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-16-2lx4LV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-6-2lx4LV {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-17-2lx4LV {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .table-guide-title-copy-5-rfEq6R {
  background-color: transparent;
  height: 56px;
  left: 1140px;
  position: absolute;
  top: 1958px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .group-14-copy-3-rfEq6R {
  background-color: transparent;
  height: 79px;
  left: 1140px;
  position: absolute;
  top: 3399px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-36-MyRrWv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-11-MyRrWv {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-37-MyRrWv {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-5-copy-5-rfEq6R {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 3626px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-33-pbHwat {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-34-pbHwat {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-35-pbHwat {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-4-copy-8-rfEq6R {
  background-color: transparent;
  height: 59px;
  left: 1140px;
  position: absolute;
  top: 3488px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-28-Ma75x0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-10-Ma75x0 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-29-Ma75x0 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .group-4-copy-7-rfEq6R {
  background-color: transparent;
  height: 59px;
  left: 1140px;
  position: absolute;
  top: 3557px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-26-qW5R9o {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line_mint-copy-9-qW5R9o {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line-copy-27-qW5R9o {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentsbasicdevice .table-guide-title-copy-7-rfEq6R {
  background-color: transparent;
  height: 56px;
  left: 1140px;
  position: absolute;
  top: 3343px;
  width: 680px;
}

.tabletbasiccomponentsbasicdevice .web-sub_-title-rfEq6R {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletbasiccomponentsbasicdevice .web-title-area-rfEq6R {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletbasiccomponentsbasicdevice .web-tabc2-c_-overview-rfEq6R {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletbasiccomponentsbasicdevice .x3rd-depth-WOxlPY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletbasiccomponentsbasicdevice .tab-WOxlPY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletbasiccomponentsbasicdevice .layout_-basic-grid_-de-tF79Aj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 205px;
}

.tabletbasiccomponentsbasicdevice .layout_-basic-grid_-se-tF79Aj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 191px;
}

.tabletbasiccomponentsbasicdevice .lnb-service-feature-rfEq6R {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletbasiccomponentsbasicdevice .rectangle-lKw86e {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.tabletbasiccomponentsbasicdevice .line-lKw86e {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletbasiccomponentsbasicdevice .home-net-gui-guidelin-lKw86e {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup8 .web-index-title-reference-copy-2-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .group-vraj8j {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-title-reference-copy-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .group-copy-vraj8j {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-title-reference-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .group-copy-2-vraj8j {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-title-reference-copy-3-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-3-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-2-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-8-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-7-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-9-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-10-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-11-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-4-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-5-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-6-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletbasiccomponentsbasicdevice .webgnb-rfEq6R {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentsbasicdevice .rectangle-c3fxPq {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletbasiccomponentsbasicdevice .background-c3fxPq {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentsbasicdevice .index-c3fxPq {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletbasiccomponentsbasicdevice .web-index-select-vtYoEs {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletbasiccomponentsbasicdevice .web-index-unselect-vtYoEs {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletbasiccomponentsbasicdevice .web-index-unelect_main-c3fxPq {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .logo-B5x4M8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentsbasicdevice .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}
