/* screen - tabletbasiccomponentspopoverbtn */

.tabletbasiccomponentspopoverbtn {
  background-color: var(--white);
  height: 1100px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletbasiccomponentspopoverbtn .group-13-7tyQ7m {
  background-color: transparent;
  height: 633px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletbasiccomponentspopoverbtn .group-11-7tyQ7m {
  background-color: transparent;
  height: 194px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletbasiccomponentspopoverbtn .web-title-area-7tyQ7m {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletbasiccomponentspopoverbtn .lnb-service-feature-7tyQ7m {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletbasiccomponentspopoverbtn .rectangle-7BVGBP {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.tabletbasiccomponentspopoverbtn .line-7BVGBP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletbasiccomponentspopoverbtn .home-net-gui-guidelin-7BVGBP {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup4 .web-index-title-reference-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-RfN8gY {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-copy-RfN8gY {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-copy-2-RfN8gY {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-8-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-7-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-9-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-10-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-11-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-4-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-5-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-6-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletbasiccomponentspopoverbtn .webgnb-7tyQ7m {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentspopoverbtn .rectangle-59BKp1 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletbasiccomponentspopoverbtn .background-59BKp1 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentspopoverbtn .index-59BKp1 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletbasiccomponentspopoverbtn .web-index-select-AOKmjZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletbasiccomponentspopoverbtn .web-index-unselect-AOKmjZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletbasiccomponentspopoverbtn .web-index-unelect_main-59BKp1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentspopoverbtn .logo-684GP6 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentspopoverbtn .web-tabc2-c_-overview-7tyQ7m {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletbasiccomponentspopoverbtn .x3rd-depth-6VG2un {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletbasiccomponentspopoverbtn .tab-6VG2un {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletbasiccomponentspopoverbtn .dropdown-list-_-basi-copy-TevVjQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 129px;
}

.tabletbasiccomponentspopoverbtn .basic-copy-TevVjQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 31px;
}

.tabletbasiccomponentspopoverbtn .title-copy-TevVjQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.tabletbasiccomponentspopoverbtn .button-copy-TevVjQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 43px;
}

.tabletbasiccomponentspopoverbtn .list-with-button-TevVjQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}
